node_modules/npm/.DS_Store
node_modules/npm/AUTHORS
node_modules/npm/node_modules/block-stream/LICENCE
node_modules/npm/node_modules/block-stream/README.md
node_modules/npm/node_modules/cacache/node_modules/lru-cache/README.md
node_modules/npm/.DS_Store
