
.flex-container100 {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: blue;
}

.flex-container50 {
  display: flex;
  flex-flow: column;
  width: 50%;
  height: 100%;
}

.header {
  background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.landing-grid {
  background: red;
}