@import '..//scss/colors';


/*******************************
          About US
  *******************************/

  .aboutus-background-section1 {
    display: flex;
    background-color: #F4D195;
    border-top-style: outset;
    border-top-color: black;
    border-top-width: 5px;
    border-bottom-style: outset;
    border-bottom-color: black;
    border-bottom-width: 5px;
  }
  .couple-img {
    top: 0px;
    left: 5px;
    width: 876x;
    height: 595x;
  }
  .aboutuspic {
    width: 200px;
    height: 235px;
    min-width: 200px;
    max-height: 235px;
  }