/*******************************
           Portfolio
  *******************************/

  .container-image-dd {
    width: 350px;
  }

  .grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    grid-template-rows: repeat(2, 300px);
  }

  .gallery-1 {
    grid-column: 1/3;
    grid-row: 1/auto;
  }

  .gallery-2 {
    grid-column: 2/3;
    grid-row: 1/auto;
  }

  .gallery-3 {
    grid-column: 3/3;
    grid-row: 1/auto;
  }

  .gallery-4 {
    grid-column: 1/3;
    grid-row: 2/auto;
  }

  .gallery-5 {
    grid-column: 2/3;
    grid-row: 2/auto;
  }

  .gallery-6 {
    grid-column: 3/3;
    grid-row: 2/auto;
  }