/*******************************
          Grid
  *******************************/

  .container-grid-content{    
    display: grid;    
    grid-template-columns: 1fr minmax(500px, 1fr) 1fr;
  }

  .grid-content {    
    grid-column: 2/3;
    grid-row: auto;
  }

  .grid-content-2 {    
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-title {
    grid-column: auto / span 2;
    align-items: center;
  }

  .grid-a {
    grid-column: auto;
    grid-row: auto;
   
  }
  
  .grid-b {
    grid-column: auto;
    grid-row: auto;
 
  }

  .grid-c {
    grid-column: auto;
    grid-row: 3/3;

  }
  
  .grid-d {
    grid-column: auto;
    grid-row: 3/3;

  }


  .container-grid {
    grid-template-rows: auto;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
  }

  .grid-item-a-full {
    grid-column: span 12;
    grid-row: auto;
    }



  .container-grid-cs {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 50px;
    align-self: center;
    display: grid;
  }

  .grid-item-cs {
    grid-column: 1/1;
    grid-row: auto;
  }


  .container-grid-2col {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    
    align-self: center;
    display: grid;
    justify-content: space-around;
  }

.container-grid-2col-full {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    align-self: center;
    display: grid;
    justify-content: space-around;
  }

.grid-item-2a {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  }

.grid-item-2b {
  grid-column: 2 / 2;
  grid-row: 1 / span 4;
  align-items: center;
}

.grid-item-2c {
  grid-column: 1 / 2;
  grid-row: 4 / 4;

}

.grid-item-2d {
  grid-column: 2 / 2;
  grid-row: 6 / 8;
}


.grid-item-2e {
  grid-column: 1 / 2;
  grid-row: 6 / 8;
}


.container-grid-2col-photo {
  grid-template-columns: 600px 600px;
  grid-template-rows: auto;
  grid-gap: 10px;
  display: grid;
}



.container-grid-3col {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 2px;
    display: grid;
    align-items: baseline;

}

.container-grid-4col {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  display: grid;
}

.container-grid-cs {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 2px;
    display: grid;
  }

.grid-item-a-self {
  grid-column: 1 / 2;
  grid-row: 1 / auto;
  align-items: center;
  align-self: center;
  justify-self: center
}

.grid-item-a {
  grid-column: 1 / 3;
  grid-row: 1 / auto;
  align-items: center;
  justify-self: center;
  align-self: center;
}

  .grid-item-b {
    grid-column: 2 / 3;
    grid-row: 1 / auto;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .grid-item-c {
    grid-column: 1 / 3;
    grid-row: 2 / auto;
    align-items: center;
  }

  .grid-item-d {
    grid-column: 2 / 3;
    grid-row: 2/ auto;
    align-items: center;
  }

  .grid-item-d4 {
    grid-column: 4 / 4;
    align-items: center;
  }

  .grid-item-e {
    grid-column: 1 / 2;
    grid-row: 3 / auto;
    align-items: center;
  }

  .grid-item-f {
    grid-column: 2 / 2;
    grid-row: 3/ auto;
    align-items: center;
  }

  .item-a-nb {
    grid-column: 1 / 2;
    grid-row: 1 / auto;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
  }

  .item-a {
    grid-column: 1 / 2;
    grid-row: 1 / auto;
    align-items: center;
    border-top: 2px solid #dfdfdf;
  }

  .item-overlay {
    grid-column: 2 / 2;
    grid-row: 1 / auto;
    align-items: center;
    background-color: rgba(227,206,113, 0.8);
  }

  .item-b {
    grid-column: 2 / 3;
    grid-row: 1 / auto;
    padding:10px;
    justify-content: center;
    justify-self: center;
  }

  .item-c {
    grid-column: 1 / 2;
    grid-row: 2 / auto;
    align-items: center;
    border-top: 2px solid #dfdfdf;
  }

  .item-c-nb {
    grid-column: 1 / 2;
    grid-row: 2 / auto;
    align-items: center;
  }

  .item-d {
    grid-column: 2 / 3;
    grid-row: 2 / auto;
    padding:10px;
    justify-content: center; 
  }

  .item-e-nb {
    grid-column: 1 / 2;
    grid-row: auto;
    align-items: center;
    border-top: 2px solid #dfdfdf;
  }

  .item-f {
    grid-column: 2 / 3;
    grid-row: auto;
    padding:10px;
    justify-content: center; 
  }
  .grid-4col-text {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "text text text text";
    grid-column-gap: 50px;
    display: grid;
  }
  .grid-2col-text {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text text";
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 5px;
    width: 60%;
    display: grid;
  }
  .grid-2col-text-center {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text text";
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 5px;
    width: 60%;
    display: grid;
    align-self: center;
  }

  .grid-2col-text-photo {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text photo";
    grid-column-gap: 50px;
    display: grid;
  }
  .grid-2col-photo-text {
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas: "photo text";
    grid-column-gap: 50px;
    display: grid;
  }
  .4col-text {
    grid-area: text;
  }
  .2col-text {
    grid-area: text;
  }
  .2col-photo {
    grid-area: photo;
  }
  .grid-callout {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text photo";
    display: grid;
  }
  .grid-main-head {
    grid-area: header;
  }
  .grid-callout-text {
    grid-area: text;
  }
  .grid-callout-photo {
    grid-area: photo;
  }
  .grid-placeself-center {
    place-self: center;
  }
.grid-bottom-1 {
  grid-column: 1/2;
  grid-area: image;
}

.grid-bottom-2 {
  grid-column: 2/2;
  grid-area: content;
}

.grid-footer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: column;
  width: 100%;
}

.grid-footer-item-1 {
  grid-column: 1/5;
  grid-row: 1/1;

}

.grid-footer-item-2 {
  grid-column: 2/5;
  grid-row: 1/1;
 
}

.grid-footer-item-3 {
  grid-column: 3/5;
  grid-row: 1/1;
  
}

.grid-footer-item-4 {
  grid-column: 4/5;
  grid-row: 1/1;
}

.grid-footer-item-5 {
  grid-column: 5/5;
  grid-row: 1/1;
}

.grid-footer-item-6 {
  grid-column: 6/6;
  grid-row: 1/1;
}


