/*******************************
          Grid
  *******************************/

  .container-grid-content{    
    display: grid;    
    grid-template-columns: 1fr minmax(500px, 1fr) 1fr;
  }

  .grid-content {    
    grid-column: 2/3;
    grid-row: auto;
  }

  .grid-content-2 {    
    grid-column: 2;
    grid-row: 2;
  }

  .container-grid {
    grid-template-rows: auto;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    min-width: 1920px;
  }

  .grid-item-a-full {
    grid-column: span 12;
    grid-row: auto;
    }



  .container-grid-cs {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 50px;
    align-self: center;
    display: grid;
  }

  .grid-item-cs {
    grid-column: 1/1;
    grid-row: auto;
  }


  .container-grid-2col {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    width: 50%;
    align-self: center;
    display: grid;
    justify-content: space-around;
  }

.container-grid-2col-full {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1px;
    align-self: center;
    display: grid;
    justify-content: space-around;
  }

.grid-item-2a {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  }

.grid-item-2b {
  grid-column: 2 / 2;
  grid-row: 1 / span 4;
  align-items: center;
}

.grid-item-2c {
  grid-column: 1 / 2;
  grid-row: 4 / 4;

}

.grid-item-2d {
  grid-column: 2 / 2;
  grid-row: 6 / 8;
}


.grid-item-2e {
  grid-column: 1 / 2;
  grid-row: 6 / 8;
}


.container-grid-2col-photo {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  display: grid;
}

.a {
  grid-column-start: 1;
  grid-column-end: 1;
  align-self: center;
}

.b {
  grid-column-start: 2;
  grid-column-end: 2;
  justify-self: center;
  align-self: end;
}



.container-grid-3col {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 2px;
    display: grid;

}

.container-grid-4col {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 50px;
  display: grid;
}

.container-grid-cs {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 2px;
    display: grid;
  }

.grid-item-a-self {
  grid-column: 1 / 2;
  grid-row: 1 / auto;
  align-items: center;
  align-self: center;
  justify-self: center
}

  .grid-item-b {
    grid-column: 2 / 3;
    grid-row: 1 / auto;
    align-items: center;
    justify-self: center;
    align-self: center;
  }

  .grid-item-c {
    grid-column: 1 / 3;
    grid-row: 2 / auto;
    align-items: center;
  }

  .grid-item-d {
    grid-column: 2 / 3;
    grid-row: 2/ auto;
    align-items: center;
  }

  .grid-item-d4 {
    grid-column: 4 / 4;
    align-items: center;
  }

  .grid-item-e {
    grid-column: 1 / 2;
    grid-row: 3 / auto;
    align-items: center;
  }

  .grid-item-f {
    grid-column: 2 / 2;
    grid-row: 3/ auto;
    align-items: center;
  }

  .item-a-nb {
    grid-column: 1 / 2;
    grid-row: 1 / auto;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
  }

  .item-a {
    grid-column: 1 / 2;
    grid-row: 1 / auto;
    align-items: center;
    border-top: 2px solid #dfdfdf;
  }

  .item-overlay {
    grid-column: 2 / 2;
    grid-row: 1 / auto;
    align-items: center;
    background-color: rgba(227,206,113, 0.8);
  }

  .item-b {
    grid-column: 2 / 3;
    grid-row: 1 / auto;
    padding:10px;
    justify-content: center;
    justify-self: center;
  }

  .item-c {
    grid-column: 1 / 2;
    grid-row: 2 / auto;
    align-items: center;
    border-top: 2px solid #dfdfdf;
  }

  .item-c-nb {
    grid-column: 1 / 2;
    grid-row: 2 / auto;
    align-items: center;
  }

  .item-d {
    grid-column: 2 / 3;
    grid-row: 2 / auto;
    padding:10px;
    justify-content: center; 
  }

  .item-e-nb {
    grid-column: 1 / 2;
    grid-row: auto;
    align-items: center;
    border-top: 2px solid #dfdfdf;
  }

  .item-f {
    grid-column: 2 / 3;
    grid-row: auto;
    padding:10px;
    justify-content: center; 
  }

