/*******************************
          Grid
  *******************************/

  .container-grid {
    grid-template-rows: auto;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    min-width: 1920px;

  }

  .container-grid-cs {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    display: grid;
  }

  .item-a {
    grid-column: 1 / 2;
    grid-row: 1 / auto;
    padding:10px;
    margin-left: 75px;
  }

  .item-b {
    grid-column: 2 / 3;
    grid-row: 1 / auto;
    padding:10px;
    justify-content: center;
  }
  .item-c {
    grid-column: 1 / 2;
    grid-row: 2 / auto;
    padding:10px;
    margin-left: 75px;
  }

  .item-d {
    grid-column: 2 / 3;
    grid-row: 2 / auto;
    padding:10px;
    justify-content: center; 
  }

  .item-e {
    grid-column: 1 / 2;
    grid-row: auto;
    padding:10px;
    margin-left: 75px;
  }

  .item-f {
    grid-column: 2 / 3;
    grid-row: auto;
    padding:10px;
    justify-content: center; 
  }

