.home-container-85 {
  font-size: 18px;
  margin-top: 15px;
  width: 85%;
  margin-left: 15%;
}

.home-container { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 15px;
  width: 85%;
  margin-left: 15%;
}

 .home-item {
  flex: 0 50%;
  height: auto; /* (100-32*3)/2 */
}

.home-margin {
  margin-left: 15%;
}

.home-margin-7 {
  margin-left: 7%;
}

.home-callout {
  width:100%
}

.home-image-container {
  width: 100%;
  max-width: 500px;
  height: auto;
}


