.home-container-85 {
  font-size: 18px;
  margin-top: 15px;
  width: 85%;
  margin-left: 15%;
}

.home-container { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 15px;
  width: 85%;
  margin-left: 12%;
}

.flex-layout-space-between { 
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 75px;
  width: 85%;
  margin-left: 7%;
}

.home-container-callout { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 15px;
  width: 85%;
  margin-left: 8%;
}

.width-250 {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-left: 0%;
}

 .home-item {
  flex: 0 50%;
  flex-direction: column;
  justify-items: center;
  height: auto; /* (100-32*3)/2 */
}

.cs-callout-item {
  flex: 0 45%;
  flex-direction: column;
  justify-items: center;
  height: auto;
  max-height: 600px;
  min-width: 425px;
  margin-bottom: 25px; /* (100-32*3)/2 */
}


.callout-content-block{
  width: 95%;
  align-self: center;
  font-family: 'Roboto', 'sans serif';
  font-size: 1.2rem;
  line-height: 1.58;
  margin-left: 6%;
}
.home-content-block-lg {
  width: 80%;
}

.home-margin {
  margin-left: 12%;
}

.why-margin-list-1{
  margin-left: 18%;
}

.home-margin-7 {
  margin-left: 7%;
}

.home-callout {
  width:100%
}

.home-image-container {
  width: 100%;
  max-width: 500px;
  height: auto;
  border: none;
  margin-left: 0;
}

.home-image-container-callout {
  width: 118%;
  max-width: 500px;
  height: auto;
  margin-left: 0;
}


