@media only screen and (max-width: 900px) {
  
  
 .content-text-21 {
  font-family: Roboto;
  font-size: 1.3125rem;
  line-height: 1.88;
  text-align: left;
}
.content-text-18 {
  font-family: Roboto;
  font-size: 1.2rem;
  line-height: 1.88;
  text-align: left;
}
  .subtitle {
    font-size: 1.5rem;
    margin-top: 15px;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'Roboto';
    color: #000;
    font-weight: 700;
    text-align: left;
  }
  .title {
    font-family: 'Oswald', sans-serif;
    font-size: 2.0rem;
    line-height: 1.25;
    color: $title-grey;
    text-align: center;
  }
  .header-title {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 2rem !important;
    letter-spacing: 1.1px;
    line-height: 1.4;
    text-align: center;
  }
  .title-homepage {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 	2.12rem !important; 
    letter-spacing: 1.1px;
  }

.callout-text-lg {
  font-size: 1.5rem;
  font-family: 'Roboto Bold', sans-serif;
  line-height: 2.12;
  letter-spacing: 0.8px;
  text-align: center;
  color: #fff;
}
.callout-text-white {
  font-size: 1.25rem;
  font-family: 'Roboto Bold', sans-serif;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-align: center;
  color: #fff;
}
.callout-text-black {
  font-size: 1.25rem;
  font-family: 'Roboto Bold', sans-serif;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: center;
  color: #000;
}
.callout-title {
  font-family: 'Oswald', sans-serif;
    font-size: 2.0rem;
    line-height: 1.25;
    text-align: center;
}

/*******************************
          Grid
  *******************************/

  .container-grid-content{    
    display: grid;
    border:1px solid #000;
    grid-gap: 10px;
		grid-template-columns: 20% auto;
  }
  
  .grid-content {    
    grid-column: 1/1;
    grid-row: auto;
  }
  
  .grid-gap-20 {
    grid-gap: 20px;
  }
  .grid-content-2 {    
    grid-template-columns: 20% auto;
    grid-column-gap: 20px;
  }
  .grid-title {
    grid-column: auto / span 2;
    align-items: center;
  }
  .container-grid-cs {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 50px;
    align-self: center;
    display: grid;
  }
  .grid-item-cs {
    grid-column: 1/1;
    grid-row: auto;
  }
  .grid-clients-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}

.grid-cs-card {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, [row] auto  );
  grid-template-areas: 
  "text1" "text2"
  "text3" "text4";
  padding: 10px;
}
.card-case-studies {
  -webkit-box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.25); 
  box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.25);
  width: 100%;
  object-fit: contain;
}

.cs-card-1 {
  grid-column: 1/ auto;
  grid-row: auto;
  grid-area: text1;
}

.cs-card-2 {
  grid-column: 1/auto;
  grid-row: auto;
  grid-area: text2;
}

.cs-card-3 {
  grid-column: 1/auto;
  grid-row: auto;
  grid-area: text3;
}

.cs-card-4 {
  grid-column: 1/auto;
  grid-row: auto;
  grid-area: text4;
}

  .container-grid-2col {
    grid-template-columns: repeat( 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    align-self: center;
    display: grid;
    justify-content: space-around;
  }

.container-grid-2col-full {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    align-self: center;
    display: grid;
    justify-content: space-around;
  }
  .container-grid-2col-photo {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    display: grid;
  }
  
  .container-grid-3col {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 2px;
      display: grid;
      align-items: baseline;
  
  }
  .grid-4col-text {
    grid-template-columns: 1fr ;
    grid-template-areas: "text" "text" "text" "text";
    grid-column-gap: 50px;
    display: grid;
  }
  .grid-2col-text {
    grid-template-columns: 1fr;
    grid-template-areas: "text" "text";
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 5px;
    width: 90%;
    display: grid;
  }
  .grid-2col-text-center {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text text";
    grid-template-rows: auto;
    grid-column-gap: 180px;
    grid-row-gap: 5px;
    width: 100%;
    display: grid;
  }

  .grid-2col-text-photo {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "text " "photo";
    grid-column-gap: 0px;
    display: grid;
  }
  .grid-2col-photo-text {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "photo" "text ";
    grid-column-gap: 0px;
    display: grid;
  }
  .padding {
    padding: 10px;
  }
  .col4-text {
    grid-area: text;
  }
  .col2-text {
    grid-area: text;
    text-align: center;
  }
  .col2-photo {
    grid-area: photo;
  }
  .grid-callout {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "text " "photo";
    display: grid;
  }
  .grid-main-head {
    grid-area: header;
  }
  .grid-callout-text {
    grid-area: text;
    margin: 10px;
  }
  .grid-callout-photo {
    grid-area: photo;
  }
  .grid-callout-2col {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    grid-template-areas: "text1" "text2";
    grid-gap: 10px;
  }
  .grid-placeself-center {
    place-self: center;
  }
  .grid-gallery-2col {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 0px;
    grid-template-areas: 
    "text1" "text2";
  }
  .gallery-2col-1 {
    grid-column: auto;
  grid-row: 1/2 ;
  justify-content: center;
    grid-area: text1;
  }
  .gallery-2col-2 {
    grid-column: auto;
  grid-row: 2/2 ;
  justify-content: center;
    grid-area: text2;
  }
.grid-bottom-1 {
  grid-column: 1/2;
  grid-area: image;
}
.grid-bottom-2 {
  grid-column: 2/2;
  grid-area: content;
}
.grid-2col-photo-content {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  display: grid;
}
.grid-2col-text-center-50 {
  grid-template-columns: 1fr ;
  grid-template-areas: "text";
  grid-template-rows: auto;
  grid-row-gap: 15px;
  width: 90%;
  display: grid;
}
.grid-left-services {
  grid-column: auto;
  grid-row:1/2 ;
  justify-content: center;
}
.grid-right-services {
  grid-column: auto;
  grid-row: 2/2;
}
.grid-services-list {
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  display: grid;
}
.grid-services-title {
  grid-column: 1/1;
  grid-row: 1;
  margin-top: -50px;
}
.grid-services-1 {
  grid-column: 1/1;
  grid-row: 2;
}

.grid-services-2 {
  grid-column: 1/1;
  grid-row: 3;
}

.grid-services-3 {
  grid-column: 1/1;
  grid-row: 4;
}

.grid-services-4 {
  grid-column: 1/1;
  grid-row: 5;
}

.grid-services-5 {
  grid-column: 1/1;
  grid-row: 6;
}

.grid-services-6 {
  grid-column: 1/1;
  grid-row: 7;
}
.grid-footer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto;
  grid-template-areas: 
  "text1" "text2"
  "text3" "text4"
  "text5" "text6";
  padding: 10px;
}
.grid-footer-item-1 {
  grid-column: 1/1;
  grid-row: 1/1;
  grid-area: text1;
}
.grid-footer-item-2 {
  grid-column: 1/2;
  grid-row: 2/1;
  grid-area: text2;
}
.grid-footer-item-3 {
  grid-column: 1/3;
  grid-row: 3/1;
  grid-area: text3;
}
.grid-footer-item-4 {
  grid-column: 1/4;
  grid-row: 4/1;
  grid-area: text4;
}
.grid-footer-item-5 {
  grid-column: 1/5;
  grid-row: auto;
  grid-area: text5;
}
.grid-footer-item-6 {
  grid-column: 1/6;
  grid-row: auto;
  grid-area: text6;
}

/*******************************
          Flex and containers
  *******************************/

.flex-section-fixed-head {
  display: flex;
  height: 100%;
  min-height: auto;
  background-color: $grey;
}
.container-section-1-primary {
  display: flex;
  height: 270px;
  padding: 10px;
}
.flex-layout-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.flex-layout-section-fixed {
  display: -webkit-flex;
  display: flex;
  height: auto;
}
.container-photo-callout {
  width: 100%;
  height: auto;
  border: 0px;
}

/*******************************
          Spacing
  *******************************/

.margin-left-75 {
  margin-left: 0px;
}
.margin-top-100 {
  margin-top: 50px;
}
.margin-bottom-100 {
  margin-top: 50px;
}
.margin-tb-100 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.margin-top-75 {
  margin-top: 25px;
}
.margin-top-25 {
  margin-top: 15px;
}
.margin-left-100{
  margin-left: 0;
}
.float-left {
  float: left;
  padding:  5px;
 }
 .float-right {
  float: none;
  padding: 5px;
 }
.height-670 {
  height: auto;
}
.thin-hr {
  display: none;
}
.content-block-services {
  width: 90%;
  margin: 10px;
}
.width-70 {
  width: 95%;
}
.content-block-60 {
  width: 90%;
}
.content-block-55 {
  width: 90%;
}
.content-block-50 {
  width: 90%;
}
.content-block {
  width: 100%;
}
.content-block-75 {
  width: 90%;
}
.content-header {
  width: 100%;
  text-align: center;
  align-self: center;
}
.container-image-500 {
  width: 90%;
}
.photo-container {
  width: 100%;
  height: auto;
}
.width-60 {
  width: 90%;
}
.card-case-studies {
  box-shadow: none;
  width: 100%;
  max-width: 100%;
}
.align-self-end {    
  align-self: end;
}

.homepage-bg-starburst {
  display: none;
}
}