// Small devices (portrait phones, 320px and up)
@media (min-width: 319px) {  


  .display-none {
    display: none;
  }
  .material-icons {
    opacity: 0.9;
    display: inline-block;
    transition-timing-function: ease-out;
    transition: 0.75s;
  }

  .margin-left-min12per {
    margin-left: 0%;
  }

  .title-white {
    text-align: center;
  }

  .margin-left-8sm{
    margin-left: 8%;
  }
  

  .border-2-sm {
    border: 2px solid rgba(58, 58, 58, 0.838);
  }

  .flex-layout-justified-sa {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

  .content-text-24 {
    font-family: 'Roboto', 'sans serif';
    font-size: 1.6rem;
    line-height: 1.25 
  }

  .flex-section-fixed-head {
    display: flex;
    height: 100%;
    min-height: auto;
    background-color: $grey;
  }
  .margin-left-8 {
    margin-left: 8%
  }
  
 .margin-left-5 {
    margin-left: 0;
  }

  .margin-left-min30per {
    margin-left: 0%;
  }

  .margin-left-6sm{
    margin-left: -6%;
  }
  
  .margin-left-why-60per {
    margin-left: 60%;
  }

  .width-280px {
    width: 90%;

  }

  .margin-left-140{
    margin-left: 40px;
  }

  .padding-sm-20-10 {
    padding: 20px 20px 5px 10px;
  }

  .padding-top-50 {
    padding-top: 25px;
  }

  .title-center {
    line-height: 58.25px;
    font-size: 2.0;
  }  
  
  .margin-bottom-25sm {
    margin-bottom: 25px;
  }
  .margin-left-50{
    margin-left: 0%;
  }

  .margin-top-50cs{
    margin-top: 25px;
  }

  .margin-right-25 {
    margin-right: 0%;
  }

  .margin-right-35 {
    margin-right: 0%;
  }

  .margin-left-3{
    margin-left: -3%;
  }

  .margin-left-30per {
    margin-left: 10%;
  }

  .margin-left-5sm {
    margin-left: 5%
  }

  .margin-right-25sm{
    margin-left: 25%;
  }

  .margin-right-25sm{
    margin-left: 25%;
  }

   .margin-left-15per{
    margin-left: 0%;
    }
     
  .margin-left-10sm {
    margin-left: 10%;
  }

  .margin-left-min10per-sm {
    margin-left: -10%;
  }

  .margintop-4per{
    margin-top: -0%;
  }

  .margin-left-4per {
    margin-left: -0%;
  }

  .width-76sm {
    width: 76%;
  }

  .padding-20 {
    padding: 0px;
  }

  .margin-bottom-25sm {
    margin-bottom: 25px;
  }
    

  .margin-top-15persm {
    margin-top: -15%;
  }

  .margin-left-15sm {
    margin-left: 15%;
  }

  .margin-left-min15sm {
    margin-left: -15%;
  }

  .margin-left-25sm {
    margin-left: 25%;
  }

  .margin-left-min25sm {
    margin-left: -25%;
  }

  .margin-left-2sm {
    margin-left: -2%;
  }

  .margin-left-4sm {
    margin-left: -4%;
  }

  .margin-left-min4sm {
    margin-left: -4%;
  }

  .margin-left-12per {
    margin-left: 0%;
  }

  .margin-left-12sm {
    margin-left: 12%;
  }

  .flex-layout-justified-sb-nw {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .flex-layout-row {
    flex-wrap: wrap;
}

.margin-left-20per {
  margin-left: 0%;
}


  .margin-left-6per{
    margin-left: -6px;
  }

  .margin-left-min15sm {
    margin-left: -15%;
  }

  .padding-top-6sm {
    padding-top: 0%;
  }

  .margin-top-plus5per {
    margin-top: 5%;
  }

  .margin-top-10per {
    margin-top: 0%;
  }

  .margin-top-10persm {
    margin-top: 10%;
  }

  .margin-top-10 {
    margin-top: 5px;
  }

  .margin-top-10sm {
    margin-top: 10px;
  }

  .margin-top-15sm {
    margin-top: 15px;
  }

  .margin-left-25 {
    margin-left: 13%;
  }

  .margin-bottom-15sm {
    margin-bottom: 15px;
  }

  .margin-bottom-100 {
    margin-bottom: 50px;
  }

  .padding-15sm {
    padding: 15px;
  }

  .padding-sm {
    padding: 20px;
  }

  .padding-bottom-50 {
    padding-bottom: 25px;
  }

  .padding-right-15 {
    padding: 0;
  }

  .width-65sm {
    width: 65%;
  }

  .float-right {
    float: right;
    padding: 0px 15px 15px 0px;
  }


  .header-title-sm {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 	3.5875rem ; 
    letter-spacing: 1.1px;
    line-height: 1;
    text-align: center;
  }

  .content-block-40 {
    width: 50%;
  }

  .margin-top-15per {
    margin-top: 0%;
  }
  .margin-top-2 {
    margin-top: 2px;
  }

.margin-top-25per {
  margin-top: .25%;
}

.margin-top-25sm{
  margin-top: 25px;
}

.margin-top-min10per {
  margin-top: -10%;
}

  .margin-top-5{
    margin-top: 5px;
  }

  .margin-top-50{
    margin-top: 0px;
  }

  .margin-top-50sm{
    margin-top: 50px;
}

.margin-top-70 {
  margin-top: 0px;
}

.margin-top-35sm {
  margin-top: 35px;
}

  .margin-top-100 {
    margin-top: 10%;
  }

  .media-margin {
    margin-left: -12%;
  }

  .media-left-margin {
    margin-left: 12%
  }


.margin-left-325 {
  margin-left: 0px
}

  .visibility {
    display: none;
  }

  .margin-tb-100 {
    margin: 0px 50px 30px 50px;
  }

  .header {
    display: none !important;
  }

  .mobile-menu {
    display: block;
  }
  
  .container-section-1-primary {
    display: flex;
    height: auto;
    text-align: center;
  }

  .content-text-21 {
    font-family: 'Roboto', 'sans serif';
    font-size: 1.3125rem;
    line-height: 1.88;
  }

  .grid-why-list {
    width: 1200px;
    grid-template-columns: repeat(3, 400px);
    grid-row: auto;
    grid-gap: 20px;
    display: grid;
    margin-left: 60%;
  }
  /********** layout    *********/
  
  
  .width-70 {
    width: 70%;
  }

  .width-250 {
    width: 100%;
    max-width: 250px;
    height: auto;
  }

  .width-icon {
    width: 100%;
    max-width: 85px;
    height: auto;
  }

  .margin-top-75 {
    margin-top: 40px;
  }

  .margin-left-75 {
    margin-left: 10px;
  }
 
  .marginleft40per{
    margin-left: 0%;
  }

  .content-block-50 {
    width: 80%;
  }

  .content-block-55 {
    width: 83%;
  }

  .content-block-60 {
    width: 80%;
  }

  .content-block-65 {
    width: 75%;
  }

  .content-block-70 {
    width: 90%;
  }

  .content-block-75 {
    width: 90%;
  }

  .content-block-80 {
    width: 80%;
  }

  .content-block-85 {
    width: 90%;
  }

  .container-photo-callout {
    width: 100%;
    max-width: 650px;
    height: 100%;
    border: 2px solid #000;
  }
  
  .photo-container {
    width: 100%;
    height: auto;
    max-width: 550px;
    padding-top: 0px;
    margin-bottom: 0px
  }

  .photo-container-cs-sb1{
    width: 83%;
    max-width:900px;
    height: auto;
    border: 1px solid $black;
  }

  .align-self-start {
    align-self: self-start;
  }

  .container-image-500 {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .container-image-650 {
    width: 100%;
    max-width: 650px;
    height: auto;
  }

  .container-image-block {
    width: 100%;
    height: auto;
  }

  .height-670 {
    height: auto;
  }

  .margin-top-5per {
    margin-top: 0%;
  }

  .margin-top-20per {
    margin-top: 0%;
  }
    
  .hrline-spacing {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .card-case-studies {
    box-shadow: 0 2px 1px 1px rgba(0,0,0,.25);
    width: 90%;
    max-width: 643px;
    border: 1px solid #000;
  }

  .justify-content-center {
  justify-content: center;
  }

  /*******      Typography      ******/

  .subtitle {
    font-size: 1.5rem;
    text-align: center;
  }

  .subtitle-why {
    font-size: 1.5rem;
    margin-top: 15px;
    text-align: left;
  }

  .title {
    font-size: 2.0rem;
    text-align: center;
  }

  .header-title {
    font-size: 	3.12rem ;
    line-height: 3rem;
    
  }
  .header-title-cs {
    font-size: 	2.375rem; 
    text-align: center;
  }
  
  .logo-cs-mobile {
    width: 17%;
    margin-top: 1%;
  }
  .title-homepage {
    font-size: 	2.12rem ; 
    line-height: 1.2;
  }
  .callout-text-lg {
    font-size: 1.5rem;
    line-height: 1.75;
    padding: 25px;
  }
  .callout-text-white {
    text-align: center;
    padding: 10px;
  }
  .callout-text-black {
    font-size: 1.25rem;
  }
  .callout-title-center {
      font-size: 2.0rem;
      text-align: center;
  }

  .text-align-center-sm {
    text-align: center;
  }
  .callout-text {
    font-size: 1.25rem;
  }
  
  /* GRIDS ****************************************************/
  
  .grid-callout {
    grid-template-columns: 1fr;
    grid-template-areas: "text" "photo";
    display: grid;
  }
  .grid-services-list {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 
  "text1" "text2"
  "text3" "text4"
  "text5" "text6";
    grid-row: auto;
    grid-gap: 20px;
    display: grid;
  }
  .grid-services-1 {
    grid-column: 1/1;
    grid-row: auto;
    grid-area: text1;
  }
  
  .grid-services-2 {
    grid-column: 2/1;
    grid-row: auto;
    grid-area: text2;
  }
  
  .grid-services-3 {
    grid-column: 3/1;
    grid-row: auto;
    grid-area: text3;
  }
  
  .grid-services-4 {
    grid-column: 4/1;
    grid-row: auto;
    grid-area: text4;
  }
  
  .grid-services-5 {
    grid-column: 5/1;
    grid-row: auto;
    grid-area: text5;
  }
  
  .grid-services-6 {
    grid-column: 6/1;
    grid-row: auto;
    grid-area: text6;
  }

  .grid-cs-card {
    display: grid;
    grid-row-gap: 65px;
    grid-column-gap: 20px;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(auto, 1fr);
    justify-items: center;
  }
  
  .grid-cs-card-history {
    display: grid;
    grid-row-gap: 65px;
    grid-column-gap: 50px;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(auto, 1fr);
  }

  .gallery-2col-2t {
    grid-column: 2/2;
    grid-row: 1/auto;
    align-self: start;
    margin-top: 5%;
  }
  
  .cs-card-1 {
    grid-column: 1;
    grid-row: 1;
  }
  
  .cs-card-2 {
    grid-column: 1;
    grid-row: 2;
  }
  
  .cs-card-3 {
    grid-column: 1;
    grid-row: 3;
  }
  
  .cs-card-4 {
    grid-column: 1;
    grid-row: 4;
  }
  
  .cs-card-right {
    grid-column: 2/2;
    grid-row: auto;
  }

  .grid-left {
    grid-column: auto;
    grid-row: 1/2;
    justify-content: center;
  }

  
  .grid-right, .grid-right-css, .grid-right-ds, .grid-right-photo {
      grid-column: auto;
      grid-row: 2/2;
      margin-left: 0;
  }
 

  .grid-2col-text-photo {
    grid-template-columns: 1fr;
    grid-template-areas: "text" "photo";
    grid-gap: 10px;
    display: grid;
    justify-items: center;
  }
  .grid-2col-photo-text {
    grid-template-columns: 1fr;
    grid-template-areas: "photo" "text";
    grid-gap: 10px;
    display: grid;
    justify-items: center;
  }

  .grid-2col-photo-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    display: grid;
    justify-items: center;
  }

  .grid-2col-text {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text text";
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 5px;
    display: block;
  }

  .grid-clients-wrapper {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  .grid-clients-box {
    width:100%;
    height: auto;
  }

  .grid-2col-text-center-50 {
    grid-template-columns: 1fr;
    grid-template-areas: "text" "text";
    grid-template-rows: auto;
    grid-row-gap: 5px;
    width: 100%;
    display: grid;
  }

  .grid-2col-text-center {
    grid-template-columns: 1;
    grid-template-areas: "text" "text";
    grid-template-rows: auto;
    grid-row-gap: 5px;
    width: 100%;
    display: block;
  }

 
  

  .grid-title {
    grid-column: auto / span 1;
    align-items: center;
  }

  .grid-right-css {
    grid-column: 1;
    grid-row: auto;
    margin-left: 0%;
  }

  .grid-left-truth {
    grid-column: 1;
    grid-row: auto;
    justify-content: center;
  }

  .grid-2things {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 25px;
    display: grid;  
  }

  .thing1 {
    grid-column: 1;
    grid-row: auto;
  }

  .thing2 {
    grid-column: 1;
    grid-row: auto;
  }

  .grid-callout-2col {
    display: flex;
    align-self: center;
    flex-direction: column;
  }
  
  .grid-gallery-2col {
    display: block;
  }

  .gallery-2col-1 {
    grid-column: 1/1;
    grid-row: auto;
    min-height: 500px;
    margin-bottom: 50px;
  }
  .gallery-2col-2 {
    grid-column: 2/1;
    grid-row: auto;
    align-self: start;
    min-height: 500px;
  }

  
  /*******  footer    ****************************************/
  
  .container-footer {
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding: 0;
    min-height: fit-content;
    }
  .grid-footer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto;
  grid-template-areas: 
  "text1" "text2"
  "text3" "text4"
  "text5" "text6";
  padding: 30px;
  margin-top: -2%
  }
  .grid-footer-item-1 {
  grid-column: 1/1;
  grid-row: 1/1;
  grid-area: text1;
  margin-top: 25px;
  }
  .grid-footer-item-2 {
  grid-column: 1/2;
  grid-row: 2/1;
  grid-area: text2;
  margin-top: 25px;
  }
  .grid-footer-item-3 {
  grid-column: 1/3;
  grid-row: 3/1;
  grid-area: text3;
  margin-top: 25px;
  }
  .grid-footer-item-4 {
  grid-column: 1/4;
  grid-row: 4/1;
  grid-area: text4;
  margin-top: 25px;
  }
  .grid-footer-item-5 {
  grid-column: 1/5;
  grid-row: auto;
  grid-area: text5;
  margin-top: 25px;
  margin-left: 0%;
  }
  .grid-footer-item-6 {
  grid-column: 1/6;
  grid-row: auto;
  grid-area: text6;
  margin-top: 25px;
  }

  .gallery-2col-2t {
    grid-column: 2/2;
    grid-row: 1/auto;
    align-self: start;
    margin-top: 5%;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    margin-bottom: 15px;
    padding: 17px;
    font-family: Roboto;
  }
  }

  
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px)  { 

.width-70 {
  width: 60%;
}

.margin-left-75{
  margin-left: 25px;
}

.margin-left-15per{
  margin-left: 13%;
}

.margin-left-8sm{
  margin-left: 0%;
}





.margin-top-15per {
  margin-top: 0%;
}

.margin-top-min10per {
  margin-top: -10%;
}

.hrline-spacing {
  margin-top: 75px;
  margin-bottom: 75px;
}

.padding {
  padding: 10px;
}

    
  
    /***** grid    ********************************************/
    .grid-services-list {
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-row: auto;
      grid-gap: 20px;
      display: grid;
    }
    .grid-services-1 {
      grid-column: 1;
      grid-row: 2;
    }
  
    .grid-services-2 {
      grid-column: 2;
      grid-row: 2;
    }
  
    .grid-services-3 {
      grid-column: 1;
      grid-row: 3;
    }
  
    .grid-services-4 {
      grid-column: 2;
      grid-row: 3;
    }
  
    .grid-services-5 {
      grid-column: 1;
      grid-row: 4;
    }
  
    .grid-services-6 {
      grid-column: 2;
      grid-row: 4;
    }

    



    .grid-clients-wrapper {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
    .grid-clients-box {
      width:100%;
      height: auto;
      background-color: #e6e6e6;
      align-items: center;
    }

 .card-case-studies {
    box-shadow: 0 2px 1px 1px rgba(0,0,0,.25);
    width: 634px;
    max-width: 643px;
  }
  .grid-2col-text-center-50 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text text";
    grid-template-rows: auto;
    grid-row-gap: 5px;
    width: 50%;
    display: grid;
  }

  .grid-2col-text-center {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text text";
    grid-template-rows: auto;
    grid-row-gap: 5px;
    width: 50%;
    display: grid;
  }

  .grid-2col-text {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text text";
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 5px;
    display: grid;
  }
  
  .grid-title {
    grid-column: auto / span 2;
    align-items: center;
  }

  .grid-callout-2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
  }
  
  .gallery-2col-1 {
    grid-column: 1/2;
    grid-row: 1/auto;
  }
  .gallery-2col-2 {
    grid-column: 2/2;
    grid-row: 1/auto;
    align-self: start;
  }
    
    .container-footer {
      min-height: fit-content;
      align-items: flex-start;
    }
    .grid-footer {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: "text1 text2 text3 text4 text5";
      grid-auto-flow: column;
      width: 100%;
    }
    
    .grid-footer-item-1 {
      grid-column: 1/5;
      grid-row: 1/1;
      grid-area: text1;
    }
    
    .grid-footer-item-2 {
      grid-column: 2/5;
      grid-row: 1/1;
      grid-area: text2;
     
    }
    
    .grid-footer-item-3 {
      grid-column: 3/5;
      grid-row: 1/1;
      grid-area: text3;
      
    }
    
    .grid-footer-item-4 {
      grid-column: 4/5;
      grid-row: 1/1;
      grid-area: text4;
    }
    
    .grid-footer-item-5 {
      grid-column: 5/5;
      grid-row: 1/1;
      grid-area: text5;
    }

    .grid-why-list {
      width: 1200px;
      grid-template-columns: repeat(3, 400px);
      grid-row: auto;
      grid-gap: 20px;
      display: grid;
      margin-left: 0%;
    }
  
    /**************layout     *****/
  
    .marginleft-40per {
      margin-left: 0%;
    }
    
   }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) { 

.align-self-auto {
  align-self: auto;
}

.material-icons {
    display: none;
}

.mdl-layout__drawer-button {
    display: none !important;
}

.header {
    display: block !important;
    transition-timing-function: ease-in;
    transition: 0.75s;
}

.float-right {
  float: right;
  padding: 5px;
}

.marginleft40per{
  margin-left: 40%;
}

.float-left {
  float: left;
  padding: 5px;
}



.padding {
  padding: 50px;
}


.container-photo-callout {
  width: 100%;
  max-width: 650px;
  height: auto;
  border: 2px solid #000;
}

.margin-left-15 {
  margin-left: 15px;
}
.grid-callout {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text photo";
  display: grid;
}
  
.grid-2col-text-photo {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text photo";
  grid-column-gap: 50px;
  display: grid;
  justify-items: center;
}

.grid-2col-photo-text {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "photo text";
  grid-column-gap: 50px;
  display: grid;
  justify-items: center;
}

.grid-2col-photo-content {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  display: grid;
  justify-items: center;
}

.grid-right-photo {
  grid-column: 2;
  grid-row: auto;
  justify-items: center;
  align-self: center;
}

.grid-right-css {
  grid-column: 2;
  grid-row: auto;
  margin-left: -4%;
}

.grid-left {
  grid-column: 1;
}

.container-section-1-primary {
  display: flex;
  height: 270px;
  text-align: center;
}

.header-title {
  font-size: 	3.75rem ;
}

.grid-gallery-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .margin-top-10per {
      margin-top: 1%;
    }

}
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { 

    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0;
      margin-bottom: 15px;
      padding: 1px;
      font-family: Roboto;
    }

    .title-white {
      font-family: 'Oswald', sans-serif;
      font-size: 3.05rem;
      line-height: 1.25;
      color: $white;
      opacity: .8;
      text-align: left;
    }

    .border-2-sm {
      border: 0;
    }

    .padding-sm {
      padding: 0px;
    }
    .width-65sm {
      width: revert;
    }
  
  .visibility {
    display: block;
  }

  .float-right {
    float: right;
    padding: 15px 5px 15px 25px;
   }

   .margin-left-why-60per {
    margin-left: 12%;
  }

  .margin-left-140{
    margin-left: 140px;
  }

  .margin-left-min12per {
    margin-left: -12%;
  }

  .margin-left-25 {
    margin-left: 25%;
  }

  .margin-top-10persm {
    margin-top: 0%;
  }
  
  .margin-left-20per {
    margin-left: 20%;
  }
  

  .margin-top-2 {
    margin-top: 2px;
  }

  .card-case-studies {
    box-shadow: 0 2px 1px 1px rgba(0,0,0,.25);
    width: 634px;
    max-width: 643px;
  }

  .grid-cs-card {
    display: grid;
    grid-row-gap: 65px;
    grid-column-gap: 70px;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: auto;
    max-width: 1500px;
    align-self: center;
  }
  
  .grid-cs-card-history {
    display: grid;
    grid-row-gap: 65px;
    grid-column-gap: 50px;
    grid-template-columns: repeat(2, [col] auto ) ;
    grid-template-rows: repeat(2, [row] auto  );
  }
  
  .cs-card-1 {
    grid-column: 1/ 2;
    grid-row: 1/2
  }
  
  .cs-card-2 {
    grid-column: 2/ 2;
    grid-row: 1/2
  }
  
  .cs-card-3 {
    grid-column: 1/ 2;
    grid-row: 2/2
  }
  
  .cs-card-4 {
    grid-column: 2/ 2;
    grid-row: 2/2
  }

  .gallery-2col-2t {
    grid-column: 2/2;
    grid-row: 1/auto;
    align-self: start;
    margin-top: 0%;
  }
  
  .cs-card-right {
    grid-column: 2/2;
    grid-row: auto;
  }

  .grid-left-truth {
    grid-column: 1/2;
    grid-row: auto;
    justify-content: center;
  }

  .margin-left-12per {
    margin-left: 15%;
  }

  .margin-top-5{
    margin-top: 5px;
  }

  .margin-left-3{
    margin-left: 0%;
  }

  .padding-top-8-sm {
    padding-top: 8%;
  }

  .padding-top-6sm {
    padding-top: 6%;
  }

  
  
    .grid-2things {
      width: 1200px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 25px;
      display: grid;  
    }

    .thing1 {
      grid-column: 1/2;
      grid-row: auto;
    }
  
    .thing2 {
      grid-column: 2/2;
      grid-row: auto;
    }
  

  .margin-left-15per{
  margin-left: 15%;
  }

  .margin-left-10sm {
    margin-left: 0%;
    margin-top: 0px;
  }

  .margin-left-15sm {
    margin-left: 0%;
  }

    .margin-top-25 {
      margin-top: 25px;
    }

  .margin-top-70 {
      margin-top: 70px;
  } 
  
  .margin-left-min30per {
    margin-left: -30%;
  }
  
  .margin-top-50sm{
    margin-top: 0px;
  }

  .margin-top-75{
    margin-top: 75px;
  }

  .margin-top-10per {
    margin-top: -10%;
  }

  .margin-left-min15sm {
    margin-left: 0%;
  }

  .margin-top-15per {
    margin-top: -15%;
  }

  .margin-top-15sm {
    margin-top: 0px;
  }

  .margin-top-50 {
    margin-top: 50px; 
  }
  

  .margin-top-20per {
    margin-top: -20%;
  }

  .margin-right-35 {
    margin-right: 35%;
  }

  .margin-right-25sm {
    margin-right: 25%;
  }

  .margin-right-50 {
    margin-right: 0%;
  }

  .margin-right-50sm {
    margin-right: 50%;
  }
  .margin-left-30per {
    margin-left: 30%;
  }

  .margin-bottom-50 {
    margin-bottom: 50px; }

  .margin-left-2sm {
    margin-left: 0%;
  }

  .margin-left-4sm {
    margin-left: 0%;
  }

  .margin-left-6per{
    margin-left: -6%;
  }
  

  .margin-tb-100 {
    margin: 50px 275px 50px 5px;
  }

  .margin-top-1per{
    margin-top: -1%;
  }

  .photo-container {
    width: 100%;
    height: auto;
    max-width: 550px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
  }

  .title {
    font-family: 'Oswald', sans-serif;
    font-size: 3.05rem;
    line-height: 1.25;
    color: $title-grey;
    opacity: .8;
    text-align: left;
  }

  .subtitle {
    font-size: 1.5rem;
    text-align: left;
  }

  .margin-left-10per {
    margin-left: 10%
  }

  .margin-left-25sm {
    margin-left: 0%;
  }

  .margin-top-50cs{
    margin-top: 50px;
  }

    .margin-top-10 {
      margin-top: 10px;
    }

    .margin-bottom-25sm {
      margin-bottom: 0px;
    }
    
  
  .margin-top-5per {
    margin-top: -5%;
  }

  .margin-left-5 {
    margin-left: 5%
  }

  .margin-left-75 {
    margin-left: 75px;
  }

  .margin-left-50{
    margin-left: 50%;
  }

  .margin-right-25 {
    margin-right: 25%;
  }

  .media-margin {
    margin-left: 8%;
  }

  .media-left-margin {
    margin-left: 1%
  }

  .margin-top-25per {
    margin-top: -.25%;
  }



  .header-title {
    font-size: 	5.1875rem ;
  }


  .content-block-25 {
    width: 25%;
  }

  .content-block-40 {
    width: 43%;
  }


  .content-block-50 {
    width: 50%;
  }

  .content-block-55 {
    width: 55%;
  }

  .margin-left-10sm {
    margin-left: 0%;
  }

  .margin-left-4per {
    margin-left: 4%;
  }



.margin-top-35sm {
  margin-top: 0%;
}
.margin-top-50{
  margin-top: 50px;
}

.width-280px {
  width: 280px;
}




.content-block-60 {
  width: 60%;
}

.content-block-65 {
  width: 65%;
}

.content-block-75 {
  width: 75%;
}

.content-block-80 {
  width: 80%;
}

.content-block-85 {
  width: 85%;
}

  .content-block-90 {
    width: 90%;
  }
  .content-text-21 {
    font-family: 'Roboto' sans-serif;
    font-size: 1.3125rem;
    line-height: 1.88;
    text-align: left;
  }

  ////////*****************    grids     *******************************/

  .grid-services-list {
    width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-row: auto;
    grid-gap: 20px;
    display: grid;
  }
  .grid-services-1 {
    grid-column: 1;
    grid-row: 2;
  }

  .grid-services-2 {
    grid-column: 2;
    grid-row: 2;
  }

  .grid-services-3 {
    grid-column: 3;
    grid-row: 2;
  }

  .grid-services-4 {
    grid-column: 1;
    grid-row: 3;
  }

  .grid-services-5 {
    grid-column: 2;
    grid-row: 3;
  }

  .grid-services-6 {
    grid-column: 3;
    grid-row: 3;
  }

  .header-title-cs {
    font-size: 	3.375rem; 
    text-align: center;
  }

  .display-none {
    display: block;
  }

  .logo-cs-mobile {
    width: 10%;
  }

  .grid-left {
    grid-column: 1;
    grid-row: auto;
    justify-content: center;
  }

  .grid-gallery-2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .height-670 {
    height: 400px;
    min-height: 400px;
  }
}
  @media (max-width: 575.98px) {  }
  
  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {  }
  
  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {  }
  
  // Large devices (desktops, less than 1200px)
 
  