/*******************************
           Practices
  *******************************/


.flex-items-column-450 {
    display: flex;
    flex-direction: column;
    flex: 0 0 450px;
}


.flex-items-column-500{
    display: flex;
    flex-direction: column;
    flex: 0 0 500px;
}

.photo-container {
    width: 550px;
    height: 333px;
}

.content-block-services {
    width: 80%;
    margin-right: 20px;
}

.content-block-services-reverse {
    width: 80%;
    margin-left: 20px;
}
