/*******************************
           Practices
  *******************************/


.flex-items-column-450 {
    display: flex;
    flex-direction: column;
    flex: 0 0 450px;
}


.flex-items-column-500{
    display: flex;
    flex-direction: column;
    flex: 0 0 500px;
}
