/*******************************
         react-overrides
  *******************************/


.mdl-layout__drawer-button {
    color: white !important;
    
}

.mdl-layout__header-row .mdl-navigation__link {
    color: white !important;
}
.mdl-layout__header-row {
    height: 100% !important;
}
.mdl-layout.has-scrolling-header .mdl-layout__content {
    overflow-y: visible !important;
    overflow-x: visible !important;
}

footer {
    background-color: #daa09a !important;
    color: black !important;
}

.header {
  background: #EC1000;
  height: 76px !important;
}

.mdl-layout__header-row {
	padding: 0 40px 0 5px;
}

