/*******************************
          Services
  *******************************/


.sevices-background-section1 {
    display: flex;
    background-color: #AFD5DB;
    border-top-style: outset;
    border-top-color: black;
    border-top-width: 5px;
    border-bottom-style: outset;
    border-bottom-color: black;
    border-bottom-width: 5px;
  }
  .servicespic {
    max-height: 500px;
    margin-right: 20px;
  }
  .services-img {
    width: 1368px;
    height: 768px;
  }
