/*******************************
          Services
  *******************************/


.sevices-background-section1 {
    display: flex;
    background-color: #AFD5DB;
    border-top-style: outset;
    border-top-color: black;
    border-top-width: 5px;
    border-bottom-style: outset;
    border-bottom-color: black;
    border-bottom-width: 5px;
  }
  .servicespic {
    max-height: 500px;
    margin-right: 20px;
  }
  .services-img {
    width: 1368px;
    height: 768px;
  }

  .container-grid-2col-photo-services {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    display: grid;
  }

  .grid-2col-photo-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    display: grid;
  }

  .grid-left {
    grid-column: 1/2;
    grid-row: auto;
    justify-content: center;
    margin-left: 25%;
  }

  .grid-left-45 {
    grid-column: 1/2;
    grid-row: auto;
    justify-content: center;
    margin-left: 45%;
  }

  .grid-right {
    grid-column: 2/2;
    grid-row: auto;
  }

  .grid-left-photo {
    grid-column: 1/2;
    grid-row: 1;
    justify-content: center;

  }

  .grid-right-content {
    grid-column: 2/2;
    grid-row: 1;
    justify-content: center;
  }

  .grid-services-list {
    grid-column: 33% 33% 33%;
    grid-row: auto;
  }

  .grid-services-1 {
    grid-column: 1/4;
    grid-row: 2;
  }

  .grid-services-2 {
    grid-column: 2/4;
    grid-row: 2;
  }

  .grid-services-3 {
    grid-column: 3/4;
    grid-row: 2;
  }

  .grid-services-4 {
    grid-column: 4/4;
    grid-row: auto;
  }




