@import 'colors';

/*******************************
           Shared
  *******************************/


.header {
  font-size: 1.5em;
  background-color: #008000; }
  
a:hover {
  text-decoration: underline;
  color: $greeny-blue;
}

  
.svg-image {
  height: auto;
  width: auto; 
}

.link-color {
  color: $greeny-blue;
}
  

  
.white {
   color: fff;
}
  
.flex-layout-row {
  display: flex;
  flex-direction: row; }
  
.flex-layout-row-reverse {
  display: flex;
  flex-direction: row-reverse; 
}
    
.textblock {
    padding: 50px; }
  
.border-3px {
    border-color: black;
    border-width: 3px;
    border: solid; }
  
.bottom-border {
    border-bottom-style: outset;
    border-bottom-color: black;
    border-bottom-width: 5px; }
  
.flex-layout-content-container {
    display: flex; 
    width: 850px;
  }
  
.flex-container-button {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 40px;
}
  
.heading1 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin-bottom: 15px; }
  
Button {
  padding: 12px;
  border: #000 solid 1px .5;
  white-space: nowrap;
  margin: 5px;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center; 
  background-color:unset; 
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif
}
Button:hover {
  border: #000 solid 3px 1.0;
  background-color: $lightgreen; 
  color: #fff;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
   
}

.holder {
  margin-left: 0%;
  margin-right: 0%
}
  
  
  .button-white {
    border: #fff solid 1px;
    color: #fff;
    white-space: nowrap;
    margin: 5px;
    font-weight: 500;
    font-size: 1.2em;
    display: inline-block;
    text-align: center; 
  }
  

  .button {
    backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #fff;
  border-radius: 1px;
  border: 1px solid #000000;
  border-width: 1px 1px 1px 1px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 1px 0px #ffffff,0px 1px 3px rgba(0%,0%,0%,0.3);
    color: #010101;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 500;
  font-style: normal;
  text-shadow: 0px -1px 0px rgba(0%,0%,0%,0.4)
  }
  .button > div {
    color: #999;
  font-size: 10px;
  font-family: Helvetica Neue;
  font-weight: initial;
  font-style: normal;
  text-align: center;
  margin: 0px 0px 0px 0px
  }
  .button > i {
    font-size: 1em;
  border-radius: 0px;
  border: 0px solid transparent;
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  position: static
  }


.button a{
 text-decoration: none;
 color: black !important;
}

  .button a:hover {
    border: #000 solid 3px 1.0;
    background-color: $lightgreen; 
    color: #fff;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
     
  }

  .button-area {
    font-size: 1.2rem;
    font-family: 'Roboto';
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #000;
    padding: 5px 30px 5px 30px;
    min-height: 25px;
    max-height: 25px;
    max-width: 105px;;
    box-shadow: 0px 1px 0px #ffffff,0px 1px 3px rgba(0%,0%,0%,0.3);
    text-shadow: 0px -1px 0px rgba(0%,0%,0%,0.3);
    color: #010101!important;
    align-items: center;
  }

    .button-area:hover {
      border: #000 solid 3px 1.0;
      text-decoration: none;
      background-color: $lightgreen; 
      color: #fff!important;
      transition-duration: 1s;
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
       
    }

   .button-area > a {
      font-size: .9em;
      color: white;
      text-decoration: none;
      flex-grow: 1;
      text-align: center;
    }

  
  .button-area-line {
    margin: 10px auto;
    display: -webkit-box;   
    display: -moz-box;  
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 90%;
    a {
     background: #999;
      padding: 1em;
      font-size: .9em;
      margin: .3em;
      color: white;
      text-decoration: none;
      flex-grow: 1;
      text-align: center;
    }
  }
  
 
  
  /*  Alighnment   */
  .align-items-center {
    align-items: center; }
  
  .container-justifyRow-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; }
  
  .flex-layout-right-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
  
  .flex-layout-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  
  .flex-layout-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 768px; }
  
  .container-image-block-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; 
  }
  
  .container-image-block {
    display: flex;
    width: 100%; }
  /*  Layers and Sizes   */
  .width-100 {
    width: 100%; }
  
  .width-50 {
    width: 50%; }
  
  .height-70 {
    height: 70%; }
  
    .height-100 {
      height: 100%; }
  
  .layer-bottom {
    z-index: 1;
    position: absolute; }
  
  .layer-top {
    display: flex;
    z-index: 10;
    position: absolute;
    flex-direction: row;
    align-items: center; }
  
  .width-70 {
    width: 70%; }
  
  .floatleft {
    float: left; }
