/*******************************
           Practices
  *******************************/

.choo {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 420px;
    color: purple;
    text-align: center;
    line-height: .50;
    margin-top: 125px;
}
.lewie {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 280px;
    color: rgb(211, 52, 255);
    background-color: chartreuse;
    text-align: center;
    line-height: .50;
    margin-top: 125px;
    padding: 300px;
}

.chooch {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 180px;
    color: blue;
    background-color: rgb(255, 149, 243);
    text-align: center;
    line-height: .50;
    margin-top: 125px;
    padding: 100px;
}

.woo {
    font-family: 'sans comic', sans-serif;
    font-size: 180px;
    color: rgb(0, 123, 255);
    background-color: rgb(0, 187, 255);
    text-align: center;
    line-height: 1.50;
    margin-top: 125px;
    padding: 100px;
}