@import 'mixins';
@import 'colors';

/*******************************
           Why 
  *******************************/

.text {
    color: black;
}

.padding-50 {
  padding: 50px;
}

.padding-100 {
  padding: 100px;
}

.padding-100-nb {
  padding-left: 100px;
  padding-top: 50px;
  padding-right: 100px;
}


.flex-container-small {
  display: flex;
  height: 500px;
}

.flex-container-text-small {
  width: 250px;
  padding: 40px;
}

.flex-container-services {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.why-top-image {
  background-image: url(/wds_website/src/images/crowdgirls.svg), url(/wds_website/src/images/spotlight.svg);
  background-position: center bottom, left top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.image-container-content {
    left: -42.0484px;
    top: 0px;
    width: 544.097px;
    height: 306px;
}

.flex-item:nth-child(1) {
  order: 0;
  flex: 0 2 auto;
  align-self: auto;
}

.flex-item:nth-child(2) {
  order: 0;
  flex: 0 2 auto;
  align-self: auto;
}

.flex-item:nth-child(3) {
  order: 0;
  flex: 0 2 auto;
  align-self: auto;
}

.flex-item:nth-child(4) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.flex-sh-400 {
    flex: 0 1 400px;
}

.content-block-why {
    width: 350px;
}

.content-block-full{
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
}


.image_customer_first {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 244, 183, 0.45), 
      rgba(0, 244, 232, 0.45),
    ),
}
/*******************************
           Case Studies
  *******************************/

  .flex-section-align-center {
    width: 1200px;
    margin-left: 18.75%;
  }

.image-overlay-container {
    text-align: center;
    position: relative;
    @include overlay-color(yellow, $colorone);
  }

.content-block-75 {
    width: 75%;
}

.content-block-60 {
  width: 60%;
}

.content-block-cs {
  width: 1200px;
  height: auto;
  font-family: 'Roboto';
  flex-wrap: wrap;
  overflow-wrap: normal;
}

.title-case {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: $dk-grey-blue;
  font-weight: bold;
}

.subtitle-case {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.intro-text {
  font-family: 'Oswald';
  font-size: 31.3px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: center;
  color: #000000;
}

.photo-container-cs-sb1{
  width:900px;
  height: 675px;
  border: 3px solid $black;
}


/*******************************
           History
  *******************************/

  .container-grid-content-2col {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    align-self: center;
    display: grid;
    justify-content: space-around;  
    padding: 30px;
  }







    