$white: #fff;
$black: #000; 
$offwhite: #E3CEB6;
$green: #008000;
$lightgreen: #87A6AB;
$purple: #78738A;
$lightpurple: #b8a9c6;
$lightgreen: #87A6AB;
$yellow: #F4D195;
$red: #DA6153;

.lightgreen {
    background-color: #BDCCD4; }
  
  .purple {
    background-color: #78738A; }
  
  .lightpurple {
    background-color: #b8a9c6; }
  
  .green {
    background-color: #87A6AB; }
  
  .yellow {
    background-color: #F4D195; }
  
  .blue {
    background-color: #aadfe7; }
  
  .offwhite {
    background-color: #E3CEB6; }
  
  .white {
    background-color: #fff; }
  
  .red {
    background-color: $red !important;
    color: $red;
}
  
.pink {
    background-color: #daa09a; }

  
  .pinkdots {
    background-image: url(../../images/pinkdots.png); }
  
  .purpledots {
    background-image: url(../../images/purpledots.png); }
  
  .lightgreendots {
    background-image: url(../../images/lightgreendots.png); }
  
  .bluedots {
    background-image: url(../../images/bluedots.png); }
  
  .offwhitedots {
    background-image: url(../../images/offwhitedots.png); }
  
