$white: #fff;
$black: #000; 
$offwhite: #E3CEB6;
$green: #008000;
$greeny-blue:#3eaca9;
$lightgreen: #87A6AB;
$grey: #6B8086;
$purple: #78738A;
$lightpurple: #b8a9c6;
$lightgreen: #87A6AB;
$yellow: #e3ce71;
$red:  #ba1004;
$grey-blue:#a6bbc0b3;
$dk-grey-blue:#354346b3;

$colorone: #fbb424;

.lightgreen {
    background-color: #BDCCD4; }
  
  .purple {
    background-color: #78738A; }
  
  .lightpurple {
    background-color: #b8a9c6; }
  
  .green {
    background-color: #87A6AB; }
  
  .yellow-bg {
    background-color: $yellow; }
  
  .blue {
    background-color: #aadfe7; }
  
  .offwhite {
    background-color: #E3CEB6; }
  
  .white {
    background-color: #fff; }
  
  .red {
    background-color: $red !important;
}
  
.pink {
    background-color: #daa09a; }


  


