$white: #fff;
$black: #000; 
$offwhite: #E3CEB6;
$green: #008000;
$grey:#6c8086;
$grey2 : #a6bbc0;
$greeny-blue:#3eaca9;
$lightgreen: #87A6AB;
$ltgrey: #a4a4a4;
$purple: #78738A;
$lightpurple: #b8a9c6;
$lightgreen: #87A6AB;
$yellow: #e3ce71;
$red:  #ba1004;
$grey-blue:#a6bbc0b3;
$dk-grey-blue:#354346b3;
$title-grey:#879397;
$sub-title-grey: #747677;

$colorone: #fbb424;

.lightgreen {
    background-color: #BDCCD4; }
  
  .purple {
    background-color: #78738A; }
  
  .lightpurple {
    background-color: #b8a9c6; }
  
  .green {
    background-color: #87A6AB; }
  
  .yellow-bg {
    background-color: $yellow; }
  
  .blue {
    background-color: #aadfe7; }
  
  .offwhite {
    background-color: #E3CEB6; }
  
  .white {
    background-color: #fff; }
  
  .red {
    background-color: $red !important;
}
  
.pink {
    background-color: #daa09a; }


  .callout-color-dark {
    background-color: $grey;
  }

  .photo-content-color {
    background-color: $grey2;
  }


