/*******************************
         Global
  *******************************/



body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
  h1 {
    font-family: 'Mouse Momoirs', sans-serif;
  }
  
  a {
    color: black !important;
  }
=======
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: 'Mouse Momoirs', sans-serif;
}
>>>>>>> 29a06dfee3d0b04b78f8fc99f4d75c9e0c1e97cc
