@import 'colors';

/*******************************
         Global
  *******************************/


body {
  font-size: 16px;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "poppins" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;

}

/*******************************
         Global Text
  *******************************/
h1 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.236rem !important;
}

h2 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 2.618rem !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

h3 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.618rem !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

h4 {
  font-family: 'Poppins', sans-serif !important;
  font-size: 1.218rem !important;
}
.header-text-left {
  float: left;
  position: absolute;
  left: 7%;
}

.header-text-right {
  float: right;
  position: absolute;
  right:7%;
}

.header-text-center {
  display: flex;
  position: absolute;
  justify-self: center;
  
}
.justify-items-center {
  justify-items: center;
}
  
a {
  color: $greeny-blue!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  margin:0;
  list-style-type: none;
  padding: 0;
  }

li {
    margin:0;
    list-style-type: none;
  }

    ul.dashed {
      list-style: none;
      padding-left: 0;
      font-family: 'Roboto';
  }
  
  ul.dashed > li {
      margin-left: 15px;
      margin-bottom: 5px;  
  }
  
  /* Prevent nested li's from getting messed up */
  ul.dashed > li::before {
      content: " -   ";
      margin-left: -15px;
  }

h1 {
  font-family: 'Mouse Momoirs', sans-serif;
}

.callout-text {
  font-size: 1.5625rem;
  font-family: 'Roboto', serif;
  line-height: 2.12;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-align: center;
  color: $white;
}


.callout-text-lg-black {
  font-size: 2rem;
  font-family: 'Roboto', serif;
  line-height: 2.12;
  letter-spacing: 0.8px;
  font-weight: 700;
  text-align: center;
  color: $black;
}

.callout-text-lg {
  font-size: 2rem;
  font-family: 'Roboto', serif;
  line-height: 2.12;
  letter-spacing: 0.8px;
  text-align: center;
  color: $white;
  font-weight: 700;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 3.05rem;
  line-height: 1.25;
  color: $title-grey;
  opacity: .7;
}
  
.title-center {
  font-family: 'Roboto', sans-serif;
  font-size: 10.0rem;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 55.5px;
  text-align: center;
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.25;
  font-family: 'Oswald';
  color: $title-grey;
}


.subtitle-bold-i {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
  font-style: italic;
}
.subtitle-menu {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
}

.subtitle-capital {
  font-size: 2.44375rem;
  font-weight: 700;
  line-height: 1.8;
  text-transform: capitalize;
}

.subtitle-reverse {
  font-size: 2.44375rem;
  font-weight: 700;
  line-height: 1.8;
  color: $white;
}

.title-small {
  font-size: 1.2rem;
  font-weight: 700;
  color: $greeny-blue;
  font-family: 'Roboto', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.font-size-48 {
  font-size: 2.6rem;
}

p {
  font-size: .875rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  margin-bottom: 16px;
  font-family: Roboto;
}

.text-align-center {
  text-align: center;
}

.text-black {
  color: $black;
}

.text-bold {
  font-weight: bold;
  
}

.text-white {
  color: $white;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.thin-hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(106, 106, 106, 0.25);
  padding: 0px;
}

.container-card-content {
  height: auto;
  margin: -10px 10px 5px 10px
}

.content-container-cs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.container-photo-100 {
  width: 100%;
  height: auto;
}
/*******************************
       Footer
  *******************************/

.container-footer {
  height: auto;
  display: flex;
  align-items: center;
}
footer a {
  color: black!important;
  text-decoration: none;
}
footer a :hover {
  color: black;
  text-decoration: underline;
}
footer.link-color {
  color:$black; }


/*******************************
        Global Colors
  *******************************/

  .green-blue {
    background-color: $greeny-blue;
  }

  .red {
    color: $red;
  }

  .grey {
    background-color: $grey;
  }

  .grey-blue {
    background-color: $grey-blue;
  }


  /*******************************
       Global Images
  *******************************/
  
  .image-size-10 {
    height: 10%;
    width: auto;
  }
  .image-size-20 {
    height: 20%;
    width: auto;
  }

  .image-size-30 {
    height: 30%;
    width: auto;
  }

  .image-size-50 {
    height: 50%;
    width: auto;
  }


  .image-size-75 {
    height: 75%;
    width: auto;
  }


.image-size-100 {
  height: 100%;
  width: auto;
}

.container-photo-callout {
  width: 650px;
  height: 450px;
  border: 2px solid $white;
}

.container-photo-50px {
  width: 50px;
  height: auto;

.image-size-logo {
  width: 150px;

}

.image-size-header-fixed {
  height: 1920px;
  width: 100%;
}



input[type=text],input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
}