@import 'colors';

/*******************************
         Global
  *******************************/


body {
  font-size: 16px;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "poppins" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;

}

/*******************************
         Global Text
  *******************************/
h1 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.236rem !important;
}

h2 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 2.618rem !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

h3 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.618rem !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

h4 {
  font-family: 'Poppins', sans-serif !important;
  font-size: 1.218rem !important;
}


.header-text-left {
  float: left;
  position: absolute;
  left: 7%;
}

.header-text-right {
  float: right;
  position: absolute;
  right:7%;
}

.header-text-center {
  display: flex;
  position: absolute;
  justify-self: center;
  
}

  
a {
  color: $green;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  margin:0;
  list-style-type: none;
  padding: 0;
  }
li {
    margin:0;
    list-style-type: none;
    }

    ul.dashed {
      list-style: none;
      padding-left: 0;
  }
  
  ul.dashed > li {
      margin-left: 15px;  
  }
  
  /* Prevent nested li's from getting messed up */
  ul.dashed > li::before {
      content: "-";
      margin-left: -15px;
  }

h1 {
  font-family: 'Mouse Momoirs', sans-serif;
}

.callout-text {
  font-size: 1.5625rem;
  font-family: 'Roboto Slab', serif;
  line-height: 2.12;
  letter-spacing: 0.8px;
  text-align: center;
  color: $white;
}

.callout-text-lg {
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
  line-height: 2.12;
  letter-spacing: 0.8px;
  text-align: center;
  color: $white;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 3.05rem;
  line-height: 1.25;
  color: $title-grey;
}
  
.title-center {
  font-family: 'Roboto', sans-serif;
  font-size: 10.0rem;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 55.5px;
  text-align: center;
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.0;
  font-family: 'Roboto';
  color: $sub-title-grey;
  font-weight: 400;
}


.subtitle-bold-i {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
  font-style: italic;
}

.subtitle-capital {
  font-size: 2.44375rem;
  font-weight: 700;
  line-height: 1.8;
  text-transform: capitalize;
}

.subtitle-reverse {
  font-size: 2.44375rem;
  font-weight: 700;
  line-height: 1.8;
  color: $white;
}

.title-small {
  font-size: 1.2rem;
  font-weight: 700;
  color: $greeny-blue;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.font-size-48 {
  font-size: 2.6rem;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  margin-bottom: 16px;
  font-family: Roboto;
}

.text-align-center {
  text-align: center;
}

.text-black {
  color: $black;
}

.text-bold {
  font-weight: bold;
  
}

.text-white {
  color: $white;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.thin-hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(106, 106, 106);
  padding: 0px;
}

.container-card-content {
  height: auto;
  margin: -10px 10px 5px 10px
}

.content-container-cs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.container-photo-100 {
  width: 100%;
  height: auto;
}
/*******************************
       Footer
  *******************************/

.container-footer {
  height: auto;
  display: flex;
  align-items: center;
}


/*******************************
        Global Colors
  *******************************/

  .green-blue {
    background-color: $greeny-blue;
  }

  .red {
    color: $red;
  }

  .grey {
    background-color: $grey;
  }

  .grey-blue {
    background-color: $grey-blue;
  }


  /*******************************
       Global Images
  *******************************/
  .image-size-10 {
    height: 10%;
    width: auto;
  }
  .image-size-20 {
    height: 20%;
    width: auto;
  }

  .image-size-30 {
    height: 30%;
    width: auto;
  }

  .image-size-50 {
    height: 50%;
    width: auto;
  }


  .image-size-75 {
    height: 75%;
    width: auto;
  }


.image-size-100 {
  height: 100%;
  width: auto;
}

.container-photo-callout {
  width: 650px;
  height: 450px;
  border: 2px solid $white;
}

.image-size-header-fixed {
  height: 1920px;
  width: 100%;
}