@import 'colors';
@import 'mixins';

/*******************************
         Helper Classes
  *******************************/


/* margins */
.margin-left-15{
  margin-left: 15px;
}

.marginleft30{
    margin-left: 30px;
}

.marginleft50{
    margin-left: 50px;
}

.margintop50{
    margin-top: 50px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-container100 {
    display: flex;
    flex-flow: column;
    height: 768px;
  }
  
.flex-container-50 {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

  .flex-justify {
    display: flex;
    justify-content: space-between;
    width: 0px;
  }
  .flex-items-align-top {
    align-items: flex-start;
  }

  /*******************************
         Spacer Classes
  *******************************/  
  
  .margin-top-10 {
    margin-top: 10px;
  }

  .margin-top-50 {
    margin-top: 25px;
  }

  .margin-top-75 {
    margin-top: 75px;
  }

  .margin-top-100 {
    margin-top: 100px;
  }

  .margin-top-150 {
    margin-top: 150px;
  }

  .margin-top-200 {
    margin-top: 200px;
  }

  .margin-left-75{
    margin-left: 75px;
  }


  .margin-tb-100 {
    margin: 100px 0 100px;
  }

  .padding-bottom-50 {
    padding-bottom: 50px;
  }

  .padding-bottom-100 {
    padding-bottom: 100px;
  }
  
  .padding-bottom-150 {
    padding: 150px;
  }
  
  .padding {
    padding: 50px;
  }

  .flex-align-top {
    align-items: flex-start;
  }

  .flex-layout-section-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 605px; 
  }
  
  .flex-layout-section {
    display: flex;
    flex-direction: column;
    height: 725px; 
  }

  .flex-section-fixed-head {
    display: flex;
    height: 100%;
    min-height: 625px;
    background-color: $grey;

  }
  
  .flex-layout-section-row {
    display: flex;
    flex-direction: row;
    height: 605px; 
  }
  
  
  .flex-layout-section-full {
    display: flex;
    flex-direction: column;
    height: auto;
   }

   .flex-layout-section-full-cs {
    display: flex;
    width: 1200px;
    align-content: center;
    flex-direction: column;
    height: auto;
   }


   .flex-layout-section-fixed {
    display: flex;
    height: 668px;

   }

   .flex-item-bottom {
    align-self: flex-end;
  }
  
  
  .flex-container50 img {
    width: 200px;
    height: 235px;
    min-width: 200px;
    max-height: 235px;
    margin-right: 20px; }
  
  
  .flex-layout-vertical {
    display: flex;
    flex-direction: column; 
  }
  
  .flex-layout-center-center {
      justify-content: center;
      align-items: center;
  }

.flex-items-justified-center {
    justify-content: center;
}

 .flex-layout-column-reverse {
   display: flex;
   flex-direction: column-reverse;
 }
  
  .flex-sh-500 {
    flex: 0 1 624px;
  }
  .flex-sh-400 {
    flex: 0 1 400px;
  }
    /* Add these classes to respective partial files */
  
  .flex-container-default {
    display: flex;
  
  }
  .flex-layout-justified-end {
      display: flex;
      justify-content: flex-end; 
  }
  
  .flex-layout-justified-center {
      display: flex;
      justify-content: center; 
  }
  
  .flex-layout-justified-sb {
      display: flex;
      justify-content: space-between;
  }

  .flex-layout-justified-sa {
    display: flex;
    justify-content: space-around;
}
    
  
  .flex-layout-row {
      display:flex;
      flex-direction: row;
  }

  .flex-layout-row-reverse {
    display:flex;
    flex-direction: row-reverse;
}
  
  .flex-layout-column{
      display:flex;
      flex-direction: column;
  }
  
  .flex-layout-column-half{
      display:flex;
      flex-direction: column;
      width: 50%;
  }
  
  .width-half {
    width:50%;
  }
  
  .width-10 {
    width: 10%;
  }
  
  .width-quarter {
    width: 25%
  }
  
  .section-min-width {
    min-width: 500px;
  }
  
  .content-header {
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 1.1rem;
      font-weight: 700;
      margin: 0;
  }

  .content-block-half {
    width: 50%;
  }

  .content-block-auto {
    width: auto;
  }

  /*  Alighnment   */
.align-items-center {
  align-items: center; 
}

.align-self-center {
  align-self: center;
}

.container-section-1-primary {
  display: flex;
  height: 270px;
}

.container-justifyRow-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; }

.flex-layout-right-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.flex-layout-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-content-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 500px;
  margin-left: 70px;
}

.flex-content-container-split {
  display: flex;
  flex-direction: column;
  flex: 1 1 500px;
}

.flex-card-content {
  display: flex;
  padding: 0 15px 5px 15px;

}

.flex-image-container {
  display: flex;
  flex-direction: flex-start;
  flex: 1 1 420px;
}

.flex-image-container-child {
  display: flex;
  flex-direction: flex-start;
  flex: 1 0 auto;
}

.flex-image-container-overlay {
  display: flex;
  flex-direction: flex-start;
  flex: 1 1 420px;
  @include overlay-color(yellow, $colorone);
}

.flex-layout-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 768px; }

.container-image-block-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; 
}

.container .button .mdl-button .mdl-js-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container-image-block {
  display: flex;
  width: 100%; }
/*  Layers and Sizes   */
.width-100 {
  width: 100%; }

.width-50 {
  width: 50%; }

.height-70 {
  height: 70%; }

.layer-bottom {
  z-index: 1;
  position: absolute; }

.layer-top {
  display: flex;
  z-index: 10;
  position: absolute;
  flex-direction: row;
  align-items: center; }

.width-70 {
  width: 70%; }

.floatleft {
  float: left; }

  .image-background-border-tb {
    display: flex;
    flex: 1 1 100%;
    border-top: 5px solid $black;
    border-bottom: 5px solid $black;
  }

  .border-tb {
    display: flex;
    flex: 1 1 90%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-left: 240px;
    margin-right: 240px;
  }

  .border-bottom-5 {
    border-bottom: 5px solid #000;
  }

  .border-top-5 {
    border-top: 5px solid #000;
  }

  .border-bottom-1 {
    border-bottom: 1px solid #000;
    padding-bottom: 100px;
  }

  .border-top-1 {
    border-top: 1px solid #000;
    padding-top: 100px;
  }


  .servicespic {
    max-height: 500px;
    margin-right: 20px; }
  
  .services-img {
    width: 1368px;
    height: 768px; }

    .marginleft30 {
      margin-left: 30px; }
    
    .marginleft50 {
      margin-left: 50px; }

      .marginleft50 {
        margin-left: 50px; }

   
    .margin-bottom-20 {
          margin-bottom: 20px;
  }
    
    
    .margin-bottom-50 {
      margin-bottom: 50px;
    }

    .margin-bottom-100 {
      margin-bottom: 100px;
    }   
    
    .margin-top-10 {
      margin-top: 10px;
    }

    .margin-top-15 {
      margin-top: 15px;
    }
    
    .margin-top-25 {
      margin-top: 25px;
    }

     .margin-top-50 {
      margin-top: 50px; 
    }

    .margin-top-100 {
      margin-top: 100px;
    }
    
    .margin-top-150 {
      margin-top: 150px;
    }

    .margin-top-200 {
      margin-top: 200px;
    }
    
    
    .padding-bottom-50 {
      padding-bottom: 50px;
    }
    
    .padding {
      padding: 50px;
    }

    .content-text {
      font-family: Roboto;
      font-size: 1rem;
      line-height: 1.88
    }

    .content-text-21 {
      font-family: Roboto;
      font-size: 1.3125rem;
      line-height: 1.88
    }


    .content-text-18 {
      font-family: Roboto;
      font-size: 1.2rem;
    }
  

    .content-text-24 {
      font-family: 'Poppin', 'Roboto';
      font-size: 1.6rem;
      line-height: 1.5 
    }

    .content-text-48 {
      font-family: 'Poppin', 'Roboto';
      font-size: 3.2rem;
      line-height: 1.5 
    }

    .header-title {
      font-family: 'Mouse Memoirs', sans-serif;
      font-size: 	3.1875rem;
      letter-spacing: 1.1px;
    }
  
    .text-white {
      color: #fff;
    }

    a {
      color: $red;
    }

    li {
      display: list-item;
      text-align: -webkit-match-parent;
      white-space: nowrap;
      margin-left: -25px;
  }

  .card-case-studies {
    -webkit-box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.25); 
    box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.25);
    width: 634px;
    max-width: 643px;
    max-height: 600px;
  }

  
    