@import '..//css/reset';
@import 'global';
@import 'colors';
@import 'helperClasses';
@import '..//components/react-overrides';
@import '..//components/shared';

@import '..//components/why_wds';
@import '..//components/aboutus';
@import '..//components/clients';
@import '..//components/contacts';
@import '..//components/landingpage';
@import '..//components/portfolio';
@import '..//components/services';
@import '..//css/flexbox-layout';
