@import url(/css/reset.css);
@import url(/css/App.css);
.flex-container100 {
  display: flex;
  flex-direction: column;
  height: 768px;
  min-height: 768px; }

.flex-container50 {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  width: 50%;
  height: 100%; }

.header {
  background: #fff !important; }

.svg-image {
  height: auto;
  width: auto; }

.mdl-layout__header-row .mdl-navigation__link {
  color: black !important; }

.services-img {
  width: 1368px;
  height: 768px; }

.couple-img {
  width: 876x;
  height: 595x;
  -webkit-clip-path: polygon(0 1%, 100% 0, 40% 100%, 0% 100%);
  clip-path: polygon(0 1%, 100% 0, 40% 100%, 0% 100%); }

.mdl-layout__drawer-button {
  color: gray !important; }

.content-text {
  display: flex;
  flex-direction: row; }

.sevices-background-section1 {
  display: flex;
  background-color: #87A6AB; }

.content-right-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 70px; }

.flex-container100 {
  display: flex;
  flex-direction: column;
  height: 768px;
  min-height: 768px; }

.flex-container50 {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  width: 50%;
  height: 100%; }

.header {
  background: #fff !important; }

.svg-image {
  height: auto;
  width: auto; }

.mdl-layout__header-row .mdl-navigation__link {
  color: black !important; }

.services-img {
  width: 1368px;
  height: 768px; }

.couple-img {
  width: 876x;
  height: 595x;
  -webkit-clip-path: polygon(0 1%, 100% 0, 40% 100%, 0% 100%);
  clip-path: polygon(0 1%, 100% 0, 40% 100%, 0% 100%); }

.mdl-layout__drawer-button {
  color: gray !important; }

.content-header {
  display: flex;
  width: 100%; }

.content-text {
  display: flex;
  flex-direction: row; }

.sevices-background-section1 {
  display: flex;
  background-color: #87A6AB; }

.content-right-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 70px; }

/*******************************
         react-overrides
  *******************************/
.mdl-layout__drawer-button {
  color: gray !important; }

.mdl-layout__header-row .mdl-navigation__link {
  color: black !important; }

footer {
  background-color: #daa09a !important;
  color: black !important; }

.header {
  background: #fff !important; }

/*******************************
         react-overrides
  *******************************/
.mdl-layout__drawer-button {
  color: gray !important; }

.mdl-layout__header-row .mdl-navigation__link {
  color: white !important; }

.mdl-layout__header-row {
  height: 100% !important; }

.mdl-layout.has-scrolling-header .mdl-layout__content {
  overflow-y: visible !important;
  overflow-x: visible !important; }

footer {
  background-color: #daa09a !important;
  color: black !important; }

.header {
  background: #fff !important;
  height: 76px !important; }

.lightgreen {
  background-color: #BDCCD4; }

.purple {
  background-color: #78738A; }

.lightpurple {
  background-color: #b8a9c6; }

.green {
  background-color: #87A6AB; }

.yellow-bg {
  background-color: #e3ce71; }

.blue {
  background-color: #aadfe7; }

.offwhite {
  background-color: #E3CEB6; }

.white {
  background-color: #fff; }

.red {
  background-color: #EC1000 !important; }

.pink {
  background-color: #daa09a; }

.callout-color-dark {
  background-color: #6c8086; }

.photo-content-color {
  background-color: #a6bbc0; }

.lightgreen {
  background-color: #BDCCD4; }

.purple {
  background-color: #78738A; }

.lightpurple {
  background-color: #b8a9c6; }

.green {
  background-color: #87A6AB; }

.yellow-bg {
  background-color: #e3ce71; }

.blue {
  background-color: #aadfe7; }

.offwhite {
  background-color: #E3CEB6; }

.white {
  background-color: #fff; }

.red {
  background-color: #EC1000 !important; }

.pink {
  background-color: #daa09a; }

.callout-color-dark {
  background-color: #6c8086; }

.photo-content-color {
  background-color: #a6bbc0; }

/*******************************
         Mixins
  *******************************/
/*******************************
         Helper Classes
  *******************************/
/* margins */
.margin-left-15 {
  margin-left: 15px; }

.margin-left-15per {
  margin-left: 15%; }

.marginleft30 {
  margin-left: 30px; }

.marginleft-minus50 {
  margin-left: -50px; }

.marginleft50 {
  margin-left: 50px; }

.margin-top-50 {
  margin-top: 50px; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-container100 {
  display: flex;
  flex-flow: column;
  height: 768px; }

.flex-container-50 {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  width: 50%;
  height: 100%; }

.flex-justify {
  display: flex;
  justify-content: space-between;
  width: 0px; }

.flex-items-align-top {
  align-items: flex-start; }

/*******************************
         Spacer Classes
  *******************************/
.margin-top-10 {
  margin-top: 10px; }

.margin-top-50 {
  margin-top: 25px; }

.margin-top-75 {
  margin-top: 75px; }

.margin-top-100 {
  margin-top: 100px; }

.margin-top-150 {
  margin-top: 150px; }

.margin-top-200 {
  margin-top: 200px; }

.margin-left-75 {
  margin-left: 75px; }

.margin-bottom-75 {
  margin-bottom: 75px; }

.margin-tb-100 {
  margin: 100px 0 100px; }

.padding-bottom-50 {
  padding-bottom: 50px; }

.padding-bottom-100 {
  padding-bottom: 100px; }

.padding-bottom-150 {
  padding: 150px; }

.padding {
  padding: 50px; }

.padding-20 {
  padding: 20px; }

.padding-75 {
  padding: 75px; }

.flex-align-top {
  align-items: flex-start; }

.flex-layout-section-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 605px; }

.flex-layout-section {
  display: flex;
  flex-direction: column;
  height: 725px; }

.flex-section-fixed-head {
  display: flex;
  height: 100%;
  background-color: #6c8086; }

.flex-section-fixed-head-child {
  display: flex;
  height: 100%;
  background-color: #e3ce71; }

.flex-layout-section-row {
  display: flex;
  flex-direction: row;
  height: 605px; }

.flex-layout-section-full {
  display: flex;
  flex-direction: column;
  height: auto; }

.flex-layout-section-full-cs {
  display: flex;
  width: 1200px;
  align-content: center;
  flex-direction: column;
  height: auto; }

.flex-layout-section-fixed {
  display: flex;
  height: 668px; }

.right {
  float: right;
  padding: 15px 15px 15px 15px; }

.left {
  float: left;
  padding: 15px 15px 15px 15px; }

.flex-item-bottom {
  align-self: flex-end; }

.align-self-center {
  align-self: center; }

.justify-self-center {
  justify-self: center; }

.flex-container50 img {
  width: 200px;
  height: 235px;
  min-width: 200px;
  max-height: 235px;
  margin-right: 20px; }

.flex-layout-vertical {
  display: flex;
  flex-direction: column; }

.flex-layout-center-center {
  justify-content: center;
  align-items: center; }

.flex-items-justified-center {
  justify-content: center; }

.flex-layout-column-reverse {
  display: flex;
  flex-direction: column-reverse; }

.flex-sh-500 {
  flex: 0 1 624px; }

.flex-sh-400 {
  flex: 0 1 400px; }

/* Add these classes to respective partial files */
.flex-container-default {
  display: flex; }

.flex-layout-justified-end {
  display: flex;
  justify-content: flex-end; }

.flex-layout-justified-center {
  display: flex;
  justify-content: center; }

.flex-layout-justified-sb {
  display: flex;
  justify-content: space-between; }

.flex-layout-justified-sa {
  display: flex;
  justify-content: space-around; }

.flex-layout-row {
  display: flex;
  flex-direction: row; }

.flex-layout-row-reverse {
  display: flex;
  flex-direction: row-reverse; }

.flex-layout-column {
  display: flex;
  flex-direction: column; }

.flex-layout-column-half {
  display: flex;
  flex-direction: column;
  width: 50%; }

.width-half {
  width: 50%; }

.width-10 {
  width: 10%; }

.width-quarter {
  width: 25%; }

.section-min-width {
  min-width: 500px; }

.content-header {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 0; }

.content-block-half {
  width: 50%; }

.content-block-auto {
  width: auto; }

.content-block-25 {
  width: 25%; }

.content-block-40 {
  width: 43%; }

.content-block-50 {
  width: 50%; }

.content-block-55 {
  width: 55%; }

.content-block-60 {
  width: 60%; }

.content-block-75 {
  width: 75%; }

.content-block-85 {
  width: 85%; }

.content-block-90 {
  width: 90%; }

/*  Alignment   */
.align-items-center {
  align-items: center; }

.align-self-center {
  align-self: center; }

.container-section-1-primary {
  display: flex;
  height: 270px; }

.container-section-1-primary {
  display: flex;
  height: 270px; }

.container-justifyRow-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; }

.flex-layout-right-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flex-layout-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.flex-content-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 500px;
  margin-left: 70px; }

.flex-content-container-split {
  display: flex;
  flex-direction: column;
  flex: 1 1 500px; }

.flex-card-content {
  display: flex;
  padding: 0 15px 5px 15px; }

.flex-image-container {
  display: flex;
  flex-direction: flex-start;
  flex: 1 1 420px; }

.flex-image-container-child {
  display: flex;
  flex-direction: flex-start;
  flex: 1 0 auto; }

.flex-image-container-overlay {
  display: flex;
  flex-direction: flex-start;
  flex: 1 1 420px; }
  .flex-image-container-overlay > a .overlay-yellow {
    position: absolute;
    width: 128px;
    height: 128px;
    transition: background-color .3s ease-in-out;
    background-color: rgba(251, 180, 36, 0.4); }
    .flex-image-container-overlay > a .overlay-yellow:hover {
      background-color: rgba(251, 180, 36, 0);
      cursor: pointer; }

.flex-layout-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 768px; }

.container-image-block-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }

.container .mdl-button .mdl-js-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center; }

.container-image-block {
  display: flex;
  width: 100%; }

.caption {
  text-align: center;
  font-size: 1rem;
  font-style: italic; }

/*  Layers and Sizes   */
.width-100 {
  width: 100%; }

.width-25 {
  width: 25%; }

.width-40 {
  width: 40%; }

.width-50 {
  width: 50%; }

.width-60 {
  width: 60%; }

.width-50px {
  width: 50px; }

.width-40 {
  width: 40%; }

.height-70 {
  height: 70%; }

.layer-bottom {
  z-index: 1;
  position: absolute; }

.layer-top {
  display: flex;
  z-index: 10;
  position: absolute;
  flex-direction: row;
  align-items: center; }

.width-70 {
  width: 70%; }

.floatleft {
  float: left; }

.image-background-border-tb {
  display: flex;
  flex: 1 1 100%;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000; }

.border-tb {
  display: flex;
  flex: 1 1 90%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-left: 240px;
  margin-right: 240px; }

.border-tb-5 {
  border-top: 5px solid #000000;
  border-bottom: 5px solid #000000; }

.border-bottom-5 {
  border-bottom: 5px solid #000; }

.border-top-5 {
  border-top: 5px solid #000; }

.border-bottom-1 {
  border-bottom: 1px solid #000; }

.border-top-1 {
  border-top: 1px solid #000;
  padding-top: 100px; }

.border-2 {
  border: 2px solid #000; }

.servicespic {
  max-height: 500px;
  margin-right: 20px; }

.services-img {
  width: 1368px;
  height: 768px; }

.marginleft30 {
  margin-left: 30px; }

.marginleft50 {
  margin-left: 50px; }

.marginleft50 {
  margin-left: 50px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-bottom-25 {
  margin-bottom: 25px; }

.margin-bottom-50 {
  margin-bottom: 50px; }

.margin-bottom-100 {
  margin-bottom: 100px; }

.margin-top-5 {
  margin-top: 5px; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-15 {
  margin-top: 15px; }

.margin-top-25 {
  margin-top: 25px; }

.margin-top-50 {
  margin-top: 50px; }

.margin-top-100 {
  margin-top: 100px; }

.margin-top-150 {
  margin-top: 150px; }

.margin-top-200 {
  margin-top: 200px; }

.padding-bottom-50 {
  padding-bottom: 50px; }

.padding {
  padding: 50px; }

.content-text {
  font-family: Roboto;
  font-size: 1rem;
  line-height: 1.88; }

.content-text-21 {
  font-family: Roboto;
  font-size: 1.3125rem;
  line-height: 1.88; }

.content-text-18 {
  font-family: Roboto;
  font-size: 1.2rem;
  line-height: 1.88; }

.content-text-24 {
  font-family: 'Roboto', 'sans serif';
  font-size: 1.6rem;
  line-height: 1.5; }

.content-text-36 {
  font-family: 'Roboto', 'sans serif';
  font-size: 1.6rem;
  line-height: 1.5; }

.content-text-48 {
  font-family: 'Roboto', 'sans serif';
  font-size: 3.2rem;
  line-height: 1.5; }

.header-title {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 10.1875rem !important;
  letter-spacing: 1.1px;
  line-height: 1.4;
  text-align: center; }

.header-title-cs {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 5.1875rem !important;
  letter-spacing: 1.1px; }

.title-homepage {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 3rem !important;
  letter-spacing: 1.1px; }

.text-white {
  color: #fff; }

a {
  color: #3eaca9; }

li {
  display: list-item;
  text-align: -webkit-match-parent;
  white-space: nowrap; }

.card-case-studies {
  -webkit-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.25);
  width: 634px;
  max-width: 643px; }

.lightgreen {
  background-color: #BDCCD4; }

.purple {
  background-color: #78738A; }

.lightpurple {
  background-color: #b8a9c6; }

.green {
  background-color: #87A6AB; }

.yellow-bg {
  background-color: #e3ce71; }

.blue {
  background-color: #aadfe7; }

.offwhite {
  background-color: #E3CEB6; }

.white {
  background-color: #fff; }

.red {
  background-color: #EC1000 !important; }

.pink {
  background-color: #daa09a; }

.callout-color-dark {
  background-color: #6c8086; }

.photo-content-color {
  background-color: #a6bbc0; }

/*******************************
         Global
  *******************************/
body {
  font-size: 16px;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "poppins" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff; }

/*******************************
         Global Text
  *******************************/
h1 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.236rem !important; }

h2 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 2.618rem !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

h3 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.618rem !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

h4 {
  font-family: 'Poppins', sans-serif !important;
  font-size: 1.218rem !important; }

.header-text-left {
  float: left;
  position: absolute;
  left: 7%; }

.header-text-right {
  float: right;
  position: absolute;
  right: 7%; }

.header-text-center {
  display: flex;
  position: absolute;
  justify-self: center; }

.justify-items-center {
  justify-items: center; }

a {
  color: #3eaca9 !important; }

.no-decoration {
  color: none;
  text-decoration: none; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

ul {
  margin: 0;
  list-style-type: none;
  padding: 0; }

li {
  margin: 0;
  list-style-type: none; }

ul.dashed {
  list-style: none;
  padding-left: 0;
  font-family: 'Roboto'; }

ul.dashed > li {
  margin-left: 15px;
  margin-bottom: 5px; }

/* Prevent nested li's from getting messed up */
ul.dashed > li::before {
  content: " -   ";
  margin-left: -15px; }

h1 {
  font-family: 'Mouse Momoirs', sans-serif; }

.callout-text {
  font-size: 1.5625rem;
  font-family: 'Roboto', serif;
  line-height: 2.12;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-align: center;
  color: #fff; }

.callout-text-lg-black {
  font-size: 2rem;
  font-family: 'Roboto', serif;
  line-height: 2.12;
  letter-spacing: 0.8px;
  font-weight: 700;
  text-align: center;
  color: #000; }

.callout-text-lg {
  font-size: 2rem;
  font-family: 'Roboto', serif;
  line-height: 2.12;
  letter-spacing: 0.8px;
  text-align: center;
  color: #fff;
  font-weight: 700; }

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 3.05rem;
  line-height: 1.25;
  color: #879397;
  opacity: .7; }

.title-center {
  font-family: 'Roboto', sans-serif;
  font-size: 10.0rem;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 55.5px;
  text-align: center; }

.subtitle {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.25;
  font-family: 'Oswald';
  color: #879397; }

.subtitle-bold-i {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
  font-style: italic; }

.subtitle-menu {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2; }

.subtitle-capital {
  font-size: 2.44375rem;
  font-weight: 700;
  line-height: 1.8;
  text-transform: capitalize; }

.subtitle-reverse {
  font-size: 2.44375rem;
  font-weight: 700;
  line-height: 1.8;
  color: #fff; }

.title-small {
  font-size: 1.2rem;
  font-weight: 700;
  color: #3eaca9;
  font-family: 'Roboto', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.font-size-48 {
  font-size: 2.6rem; }

p {
  font-size: .875rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  margin-bottom: 16px;
  font-family: Roboto; }

.text-align-center {
  text-align: center; }

.text-black {
  color: #000; }

.text-bold {
  font-weight: bold; }

.text-white {
  color: #fff; }

.text-align-center {
  text-align: center; }

.text-align-left {
  text-align: left; }

.thin-hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(106, 106, 106, 0.25);
  padding: 0px; }

.container-card-content {
  height: auto;
  margin: -10px 10px 5px 10px; }

.content-container-cs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }

.container-photo-100 {
  width: 100%;
  height: auto; }

/*******************************
       Footer
  *******************************/
.container-footer {
  height: auto;
  display: flex;
  align-items: center; }

footer a {
  color: black !important;
  text-decoration: none; }

footer a :hover {
  color: black;
  text-decoration: underline; }

footer.link-color {
  color: #000; }

/*******************************
        Global Colors
  *******************************/
.green-blue {
  background-color: #3eaca9; }

.red {
  color: #EC1000; }

.grey {
  background-color: #6c8086; }

.grey-blue {
  background-color: #a6bbc0b3; }

/*******************************
       Global Images
  *******************************/
.image-size-10 {
  height: 10%;
  width: auto; }

.image-size-20 {
  height: 20%;
  width: auto; }

.image-size-30 {
  height: 30%;
  width: auto; }

.image-size-50 {
  height: 50%;
  width: auto; }

.image-size-75 {
  height: 75%;
  width: auto; }

.image-size-100 {
  height: 100%;
  width: auto; }

.container-photo-callout {
  width: 650px;
  height: 450px;
  border: 2px solid #fff; }

.container-photo-50px {
  width: 50px;
  height: auto; }

.image-size-logo {
  width: 150px; }

.image-size-header-fixed {
  height: 1920px;
  width: 100%; }

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #45a049; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga'; }

.lightgreen {
  background-color: #BDCCD4; }

.purple {
  background-color: #78738A; }

.lightpurple {
  background-color: #b8a9c6; }

.green {
  background-color: #87A6AB; }

.yellow-bg {
  background-color: #e3ce71; }

.blue {
  background-color: #aadfe7; }

.offwhite {
  background-color: #E3CEB6; }

.white {
  background-color: #fff; }

.red {
  background-color: #EC1000 !important; }

.pink {
  background-color: #daa09a; }

.callout-color-dark {
  background-color: #6c8086; }

.photo-content-color {
  background-color: #a6bbc0; }

/*******************************
           Shared
  *******************************/
.header {
  font-size: 1.5em;
  background-color: #008000; }

a:hover {
  text-decoration: underline;
  color: #3eaca9; }

a {
  color: #008000; }

.svg-image {
  height: auto;
  width: auto; }

.link-color {
  color: #3eaca9; }

.white {
  color: fff; }

.flex-layout-row {
  display: flex;
  flex-direction: row; }

.flex-layout-row-reverse {
  display: flex;
  flex-direction: row-reverse; }

.textblock {
  padding: 50px; }

.border-3px {
  border-color: black;
  border-width: 3px;
  border: solid; }

.bottom-border {
  border-bottom-style: outset;
  border-bottom-color: black;
  border-bottom-width: 5px; }

.flex-layout-content-container {
  display: flex;
  width: 850px; }

.flex-container-button {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 40px; }

.heading1 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin-bottom: 15px; }

Button {
  padding: 20px;
  border: #000 solid 3px .5;
  white-space: nowrap;
  margin: 5px;
  font-weight: 800;
  font-size: 1.2rem;
  text-align: center;
  background-color: #fff .2;
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif; }

Button:hover {
  border: #000 solid 3px 1.0;
  background-color: #87A6AB;
  color: #fff;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); }

.button {
  border: #000 solid 3px;
  white-space: nowrap;
  margin: 5px;
  font-weight: 800;
  font-size: 1.2em;
  background-color: grey;
  display: inline-block;
  text-align: center; }

.mdl-button {
  background: #000;
  opacity: 0.4 !important;
  border: 1px solid rgba(170, 50, 220, 0.6) !important;
  border-radius: 2px;
  color: black;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle; }

/*  Alighnment   */
.align-items-center {
  align-items: center; }

.container-justifyRow-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; }

.flex-layout-right-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flex-layout-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.flex-layout-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 768px; }

.container-image-block-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }

.container-image-block {
  display: flex;
  width: 100%; }

/*  Layers and Sizes   */
.width-100 {
  width: 100%; }

.width-50 {
  width: 50%; }

.height-70 {
  height: 70%; }

.layer-bottom {
  z-index: 1;
  position: absolute; }

.layer-top {
  display: flex;
  z-index: 10;
  position: absolute;
  flex-direction: row;
  align-items: center; }

.width-70 {
  width: 70%; }

.floatleft {
  float: left; }

/*******************************
          Grid
  *******************************/
.container-grid-content {
  display: grid;
  grid-template-columns: 1fr minmax(500px, 1fr) 1fr; }

.grid-content {
  grid-column: 2/3;
  grid-row: auto; }

.align-self-end {
  align-self: end; }

.grid-gap-20 {
  grid-gap: 20px; }

.grid-content-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px; }

.grid-title {
  grid-column: auto / span 2;
  align-items: center; }

.grid-title-3col {
  grid-column: auto / span 3;
  align-items: center; }

.grid-a {
  grid-column: auto;
  grid-row: auto; }

.grid-b {
  grid-column: auto;
  grid-row: auto; }

.grid-c {
  grid-column: auto;
  grid-row: 3/3; }

.grid-d {
  grid-column: auto;
  grid-row: 3/3; }

.container-grid {
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
  display: grid; }

.grid-item-a-full {
  grid-column: span 12;
  grid-row: auto; }

.container-grid-cs {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 50px;
  align-self: center;
  display: grid; }

.grid-item-cs {
  grid-column: 1/1;
  grid-row: auto; }

.container-grid-2col {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  align-self: center;
  display: grid;
  justify-content: space-around; }

.container-grid-2col-full {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  align-self: center;
  display: grid;
  justify-content: space-around; }

.grid-item-2a {
  grid-column: 1 / 2;
  grid-row: 1 / 4; }

.grid-item-2b {
  grid-column: 2 / 2;
  grid-row: 1 / span 4;
  align-items: center; }

.grid-item-2c {
  grid-column: 1 / 2;
  grid-row: 4 / 4; }

.grid-item-2d {
  grid-column: 2 / 2;
  grid-row: 6 / 8; }

.grid-item-2e {
  grid-column: 1 / 2;
  grid-row: 6 / 8; }

.container-grid-2col-photo {
  grid-template-columns: 600px 600px;
  grid-template-rows: auto;
  grid-gap: 10px;
  display: grid; }

.container-grid-3col {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 2px;
  display: grid;
  align-items: baseline; }

.grid-3col {
  display: grid;
  grid-template-columns: 500px 500px 500px;
  grid-gap: 10px; }

.container-grid-4col {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  display: grid; }

.container-grid-cs {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 2px;
  display: grid; }

.grid-item-a-self {
  grid-column: 1 / 2;
  grid-row: 1 / auto;
  align-items: center;
  align-self: center;
  justify-self: center; }

.grid-item-a {
  grid-column: 1 / 3;
  grid-row: 1 / auto;
  align-items: center;
  justify-self: center;
  align-self: center; }

.grid-item-b {
  grid-column: 2 / 3;
  grid-row: 1 / auto;
  align-items: center;
  justify-content: center;
  align-self: center; }

.grid-item-c {
  grid-column: 1 / 3;
  grid-row: 2 / auto;
  align-items: center; }

.grid-item-d {
  grid-column: 2 / 3;
  grid-row: 2/ auto;
  align-items: center; }

.grid-item-d4 {
  grid-column: 4 / 4;
  align-items: center; }

.grid-item-e {
  grid-column: 1 / 2;
  grid-row: 3 / auto;
  align-items: center; }

.grid-item-f {
  grid-column: 2 / 2;
  grid-row: 3/ auto;
  align-items: center; }

.item-a-nb {
  grid-column: 1 / 2;
  grid-row: 1 / auto;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center; }

.item-a {
  grid-column: 1 / 2;
  grid-row: 1 / auto;
  align-items: center;
  border-top: 2px solid #dfdfdf; }

.item-overlay {
  grid-column: 2 / 2;
  grid-row: 1 / auto;
  align-items: center;
  background-color: rgba(227, 206, 113, 0.8); }

.item-b {
  grid-column: 2 / 3;
  grid-row: 1 / auto;
  padding: 10px;
  justify-content: center;
  justify-self: center; }

.item-c {
  grid-column: 1 / 2;
  grid-row: 2 / auto;
  align-items: center;
  border-top: 2px solid #dfdfdf; }

.item-c-nb {
  grid-column: 1 / 2;
  grid-row: 2 / auto;
  align-items: center; }

.item-d {
  grid-column: 2 / 3;
  grid-row: 2 / auto;
  padding: 10px;
  justify-content: center; }

.item-e-nb {
  grid-column: 1 / 2;
  grid-row: auto;
  align-items: center;
  border-top: 2px solid #dfdfdf; }

.item-f {
  grid-column: 2 / 3;
  grid-row: auto;
  padding: 10px;
  justify-content: center; }

.grid-4col-text {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "text text text text";
  grid-column-gap: 50px;
  display: grid; }

.grid-2col-text {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text text";
  grid-template-rows: auto;
  grid-column-gap: 50px;
  grid-row-gap: 5px;
  display: grid; }

.grid-2col-text-center-50 {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text text";
  grid-template-rows: auto;
  grid-row-gap: 5px;
  width: 50%;
  display: grid; }

.grid-2col-text-center {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text text";
  grid-template-rows: auto;
  grid-column-gap: 180px;
  grid-row-gap: 5px;
  width: 100%;
  display: grid; }

.grid-2col-text-photo {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text photo";
  grid-column-gap: 50px;
  display: grid; }

.grid-2col-photo-text {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "photo text";
  grid-column-gap: 50px;
  display: grid; }

.col4-text {
  grid-area: text; }

.col2-text {
  grid-area: text; }

.col2-photo {
  grid-area: photo; }

.grid-callout {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text photo";
  display: grid; }

.grid-main-head {
  grid-area: header; }

.grid-callout-text {
  grid-area: text; }

.grid-callout-photo {
  grid-area: photo; }

.grid-placeself-center {
  place-self: center; }

.grid-placeself-right {
  place-self: right; }

.grid-bottom-1 {
  grid-column: 1/2;
  grid-area: image; }

.grid-bottom-2 {
  grid-column: 2/2;
  grid-area: content; }

.container-image-dd {
  width: 350px; }

.container-image-300 {
  width: 300px; }

.container-image-500 {
  width: 500px; }

.grid-gallery-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; }

.grid-callout-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px; }

.gallery-2col-1 {
  grid-column: 1/2;
  grid-row: 1/auto; }

.gallery-2col-2 {
  grid-column: 2/2;
  grid-row: 1/auto; }

.grid-gallery-4col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; }

.gallery-4col-1 {
  grid-column: 1/4;
  grid-row: 1/auto; }

.gallery-4col-2 {
  grid-column: 2/4;
  grid-row: 1/auto; }

.gallery-4col-3 {
  grid-column: 3/4;
  grid-row: 1/auto; }

.gallery-4col-4 {
  grid-column: 4/4;
  grid-row: 1/auto; }

.grid-footer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  width: 100%; }

.grid-footer-item-1 {
  grid-column: 1/5;
  grid-row: 1/1; }

.grid-footer-item-2 {
  grid-column: 2/5;
  grid-row: 1/1; }

.grid-footer-item-3 {
  grid-column: 3/5;
  grid-row: 1/1; }

.grid-footer-item-4 {
  grid-column: 4/5;
  grid-row: 1/1; }

.grid-footer-item-5 {
  grid-column: 5/5;
  grid-row: 1/1; }

.grid-footer-item-6 {
  grid-column: 6/6;
  grid-row: 1/1; }

.lightgreen {
  background-color: #BDCCD4; }

.purple {
  background-color: #78738A; }

.lightpurple {
  background-color: #b8a9c6; }

.green {
  background-color: #87A6AB; }

.yellow-bg {
  background-color: #e3ce71; }

.blue {
  background-color: #aadfe7; }

.offwhite {
  background-color: #E3CEB6; }

.white {
  background-color: #fff; }

.red {
  background-color: #EC1000 !important; }

.pink {
  background-color: #daa09a; }

.callout-color-dark {
  background-color: #6c8086; }

.photo-content-color {
  background-color: #a6bbc0; }

/*******************************
         Mixins
  *******************************/
.lightgreen {
  background-color: #BDCCD4; }

.purple {
  background-color: #78738A; }

.lightpurple {
  background-color: #b8a9c6; }

.green {
  background-color: #87A6AB; }

.yellow-bg {
  background-color: #e3ce71; }

.blue {
  background-color: #aadfe7; }

.offwhite {
  background-color: #E3CEB6; }

.white {
  background-color: #fff; }

.red {
  background-color: #EC1000 !important; }

.pink {
  background-color: #daa09a; }

.callout-color-dark {
  background-color: #6c8086; }

.photo-content-color {
  background-color: #a6bbc0; }

/*******************************
           Why 
  *******************************/
.text {
  color: black; }

.padding-50 {
  padding: 50px; }

.padding-100 {
  padding: 100px; }

.padding-100-nb {
  padding-left: 100px;
  padding-top: 50px;
  padding-right: 100px; }

.flex-container-small {
  display: flex;
  height: 500px; }

.flex-container-text-small {
  width: 250px;
  padding: 40px; }

.flex-container-services {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center; }

.why-top-image {
  background-image: url(/wds_website/src/images/crowdgirls.svg), url(/wds_website/src/images/spotlight.svg);
  background-position: center bottom, left top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }

.image-container-content {
  left: -42.0484px;
  top: 0px;
  width: 544.097px;
  height: 306px; }

.flex-item:nth-child(1) {
  order: 0;
  flex: 0 2 auto;
  align-self: auto; }

.flex-item:nth-child(2) {
  order: 0;
  flex: 0 2 auto;
  align-self: auto; }

.flex-item:nth-child(3) {
  order: 0;
  flex: 0 2 auto;
  align-self: auto; }

.flex-item:nth-child(4) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto; }

.flex-sh-400 {
  flex: 0 1 400px; }

.content-block-why {
  width: 350px; }

.content-block-full {
  width: 100%;
  height: auto;
  flex-wrap: nowrap; }

.image_customer_first {
  background: linear-gradient(rgba(0, 244, 183, 0.45), rgba(0, 244, 232, 0.45)); }

/*******************************
           Case Studies
  *******************************/
.flex-section-align-center {
  width: 1200px;
  margin-left: 18.75%; }

.image-overlay-container {
  text-align: center;
  position: relative; }
  .image-overlay-container > a .overlay-yellow {
    position: absolute;
    width: 128px;
    height: 128px;
    transition: background-color .3s ease-in-out;
    background-color: rgba(251, 180, 36, 0.4); }
    .image-overlay-container > a .overlay-yellow:hover {
      background-color: rgba(251, 180, 36, 0);
      cursor: pointer; }

.content-block-cs {
  width: 1200px;
  height: auto;
  font-family: 'Roboto';
  flex-wrap: wrap;
  overflow-wrap: normal; }

.title-case {
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  color: #354346b3;
  font-weight: bold; }

.subtitle-case {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem; }

.intro-text {
  font-family: 'Oswald';
  font-size: 31.3px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: center;
  color: #000000; }

.photo-container-cs-sb1 {
  width: 900px;
  height: auto;
  border: 1px solid #000; }

.grid-cs-card {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, [col] 700px);
  grid-template-rows: repeat(2, [row] auto); }

.cs-card-1 {
  grid-column: 1/ 2;
  grid-row: 1/2; }

.cs-card-2 {
  grid-column: 2/ 2;
  grid-row: 1/2; }

.cs-card-3 {
  grid-column: 1/ 2;
  grid-row: 2/2; }

.cs-card-4 {
  grid-column: 2/ 2;
  grid-row: 2/2; }

.cs-card-right {
  grid-column: 2/2;
  grid-row: auto; }

.grid-2col-list {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 50px;
  display: grid; }

.list-left {
  grid-column: 1/2; }

.list-right {
  grid-column: 2/2; }

/*******************************
           History
  *******************************/
.container-grid-content-2col {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100%;
  align-self: center;
  display: grid;
  justify-content: space-around;
  padding: 30px; }

.title-container-left {
  margin-right: auto;
  margin-left: 19.25%; }

/*******************************
           History
  *******************************/
.callout-bg-s1 {
  height: 668px; }

/*******************************
           Practices
  *******************************/
.flex-items-column-450 {
  display: flex;
  flex-direction: column;
  flex: 0 0 450px; }

.flex-items-column-500 {
  display: flex;
  flex-direction: column;
  flex: 0 0 500px; }

.photo-container {
  width: 650px;
  height: 433px; }

.photo-container-xsm {
  width: 127px;
  height: 132px; }

.content-block-services {
  width: 80%;
  margin-right: 20px; }

.content-block-services-reverse {
  width: 80%;
  margin-left: 20px; }

/*******************************
          Services
  *******************************/
.sevices-background-section1 {
  display: flex;
  background-color: #AFD5DB;
  border-top-style: outset;
  border-top-color: black;
  border-top-width: 5px;
  border-bottom-style: outset;
  border-bottom-color: black;
  border-bottom-width: 5px; }

.servicespic {
  max-height: 500px;
  margin-right: 20px; }

.services-img {
  width: 1368px;
  height: 768px; }

.grid-2col-callout {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 50px;
  display: grid; }

.callout1 {
  grid-column: 1/2;
  grid-row: 1/1;
  justify-content: center; }

.callout2 {
  grid-column: 2/2;
  grid-row: 1/1;
  justify-content: center; }

.container-grid-2col-photo-services {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  display: grid; }

.grid-2col-photo-content {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  display: grid; }

.grid-left {
  grid-column: 1/2;
  grid-row: auto;
  justify-content: center;
  margin-left: 35%; }

.grid-left-services {
  grid-column: 1/2;
  grid-row: auto;
  justify-content: center;
  margin-left: 31%; }

.photo-container {
  width: 550px;
  height: 333px; }

.align-self-baseline {
  align-self: baseline; }

.grid-left-contentWrap {
  grid-column: col / span 2;
  grid-row: auto;
  justify-content: center; }

.grid-left-15 {
  grid-column: 1/2;
  grid-row: auto;
  justify-content: center;
  margin-left: 15%; }

.grid-left-45 {
  grid-column: 1/2;
  grid-row: auto;
  justify-content: center;
  margin-left: 45%; }

.grid-left-30 {
  grid-column: 1/2;
  grid-row: 1;
  justify-content: flex-start;
  align-self: flex-start;
  margin-left: 30%; }

.grid-left-25 {
  grid-column: 1/2;
  grid-row: auto;
  margin-left: 20%; }

.grid-right {
  grid-column: 2/2;
  grid-row: auto;
  margin-left: -6%; }

.grid-right-css {
  grid-column: 2/2;
  grid-row: auto;
  margin-left: -4%; }

.grid-right-ds {
  grid-column: 2/2;
  grid-row: auto;
  margin-left: -4%;
  align-self: flex-end; }

.grid-right-services {
  grid-column: 2/2;
  grid-row: auto;
  margin-left: -10%; }

.grid-right-15 {
  grid-column: 2/2;
  grid-row: 1;
  margin-left: 15%; }

.grid-left-photo {
  grid-column: 1/2;
  grid-row: 1;
  margin-left: 6%; }

.grid-right-content {
  grid-column: 2/2;
  grid-row: 1;
  justify-content: center; }

.grid-right-contentWrap {
  grid-column: 1/3;
  grid-row: 2;
  justify-content: center; }

.grid-right-photo {
  grid-column: 2/2;
  grid-row: auto;
  justify-content: center;
  align-self: center; }

.grid-services-list {
  width: 1200px;
  grid-template-columns: repeat(3, 400px);
  grid-row: auto;
  grid-gap: 20px;
  display: grid; }

.grid-2things {
  width: 1200px;
  grid-template-columns: repeat(2, 600px);
  grid-gap: 25px;
  display: grid; }

.thing1 {
  grid-column: 1/2; }

.thing2 {
  grid-column: 2/2; }

.grid-services-title {
  grid-column: 1/4;
  grid-row: 1; }

.grid-services-1 {
  grid-column: 1/1;
  grid-row: 2; }

.grid-services-2 {
  grid-column: 2/2;
  grid-row: 2; }

.grid-services-3 {
  grid-column: 3/3;
  grid-row: 2; }

.grid-services-4 {
  grid-column: 1/1;
  grid-row: 3; }

.grid-services-5 {
  grid-column: 2/2;
  grid-row: 3; }

.grid-services-6 {
  grid-column: 3/3;
  grid-row: 3; }

/*******************************
           Portfolio
  *******************************/
/*******************************
           Landing Page
  *******************************/
/*******************************
           Portfolio
  *******************************/
.container-image-dd {
  width: 350px; }

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  grid-template-rows: repeat(2, 300px); }

.gallery-1 {
  grid-column: 1/3;
  grid-row: 1/auto; }

.gallery-2 {
  grid-column: 2/3;
  grid-row: 1/auto; }

.gallery-3 {
  grid-column: 3/3;
  grid-row: 1/auto; }

.gallery-4 {
  grid-column: 1/3;
  grid-row: 2/auto; }

.gallery-5 {
  grid-column: 2/3;
  grid-row: 2/auto; }

.gallery-6 {
  grid-column: 3/3;
  grid-row: 2/auto; }

/*******************************
           Menu
  *******************************/
.menu {
  background-color: #EC1000;
  font-size: 1.2em; }

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

ul.menu > li {
  float: left; }

.dropbtn {
  display: inline-block;
  color: white !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: .875rem; }

li a .dropdown:hover .dropbtn {
  background-color: rgba(140, 139, 139, 0.2); }

ul.menu > li.dropdown {
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 1; }

.dropdown-content a {
  color: black !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown-content a:hover {
  background-color: #f1f1f1; }

.dropdown:hover .dropdown-content {
  display: block; }

.lightgreen {
  background-color: #BDCCD4; }

.purple {
  background-color: #78738A; }

.lightpurple {
  background-color: #b8a9c6; }

.green {
  background-color: #87A6AB; }

.yellow-bg {
  background-color: #e3ce71; }

.blue {
  background-color: #aadfe7; }

.offwhite {
  background-color: #E3CEB6; }

.white {
  background-color: #fff; }

.red {
  background-color: #EC1000 !important; }

.pink {
  background-color: #daa09a; }

.callout-color-dark {
  background-color: #6c8086; }

.photo-content-color {
  background-color: #a6bbc0; }

/*******************************
          About US
  *******************************/
.aboutus-background-section1 {
  display: flex;
  background-color: #F4D195;
  border-top-style: outset;
  border-top-color: black;
  border-top-width: 5px;
  border-bottom-style: outset;
  border-bottom-color: black;
  border-bottom-width: 5px; }

.couple-img {
  top: 0px;
  left: 5px;
  width: 876x;
  height: 595x; }

.aboutuspic {
  width: 200px;
  height: 235px;
  min-width: 200px;
  max-height: 235px; }

.lightgreen {
  background-color: #BDCCD4; }

.purple {
  background-color: #78738A; }

.lightpurple {
  background-color: #b8a9c6; }

.green {
  background-color: #87A6AB; }

.yellow-bg {
  background-color: #e3ce71; }

.blue {
  background-color: #aadfe7; }

.offwhite {
  background-color: #E3CEB6; }

.white {
  background-color: #fff; }

.red {
  background-color: #EC1000 !important; }

.pink {
  background-color: #daa09a; }

.callout-color-dark {
  background-color: #6c8086; }

.photo-content-color {
  background-color: #a6bbc0; }

/*******************************
         Mixins
  *******************************/
@media only screen and (max-width: 900px) {
  .subtitle {
    font-size: 1.5rem; }
  /*******************************
          Grid
  *******************************/
  .container-grid-content {
    display: grid;
    border: 1px solid #000;
    grid-gap: 10px;
    grid-template-columns: 20% auto; }
  .grid-content {
    grid-column: 1/1;
    grid-row: auto; }
  .align-self-end {
    align-self: end; }
  .grid-gap-20 {
    grid-gap: 20px; }
  .grid-content-2 {
    grid-template-columns: 20% auto;
    grid-column-gap: 20px; }
  .grid-title {
    grid-column: auto / span 2;
    align-items: center; }
  .container-grid-cs {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 50px;
    align-self: center;
    display: grid; }
  .grid-item-cs {
    grid-column: 1/1;
    grid-row: auto; }
  .container-grid-2col {
    grid-template-columns: repeat(1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    align-self: center;
    display: grid;
    justify-content: space-around; }
  .container-grid-2col-full {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    align-self: center;
    display: grid;
    justify-content: space-around; }
  .container-grid-2col-photo {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    display: grid; }
  .container-grid-3col {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2px;
    display: grid;
    align-items: baseline; }
  .grid-4col-text {
    grid-template-columns: 1fr;
    grid-template-areas: "text" "text" "text" "text";
    grid-column-gap: 50px;
    display: grid; }
  .grid-2col-text {
    grid-template-columns: 1fr;
    grid-template-areas: "text" "text";
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 5px;
    width: 90%;
    display: grid; }
  .grid-2col-text-center {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text text";
    grid-template-rows: auto;
    grid-column-gap: 180px;
    grid-row-gap: 5px;
    width: 100%;
    display: grid; }
  .grid-2col-text-photo {
    grid-template-columns: 1fr;
    grid-template-areas: "text" "photo";
    grid-column-gap: 50px;
    display: grid; }
  .grid-2col-photo-text {
    grid-template-columns: 1fr;
    grid-template-areas: "text" "photo";
    grid-column-gap: 50px;
    display: grid; }
  .col4-text {
    grid-area: text; }
  .col2-text {
    grid-area: text; }
  .col2-photo {
    grid-area: photo; }
  .grid-callout {
    grid-template-columns: 1fr;
    grid-template-areas: "text " "photo";
    display: grid; }
  .margin-left-100 {
    margin-left: 0; }
  .title {
    font-family: 'Oswald', sans-serif;
    font-size: 2.0rem;
    line-height: 1.25;
    color: #879397;
    text-align: center; }
  .grid-main-head {
    grid-area: header; }
  .grid-callout-text {
    grid-area: text; }
  .grid-callout-photo {
    grid-area: photo; }
  .grid-placeself-center {
    place-self: center; }
  .grid-bottom-1 {
    grid-column: 1/2;
    grid-area: image; }
  .grid-bottom-2 {
    grid-column: 2/2;
    grid-area: content; }
  .grid-footer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-template-areas: "text1" "text2" "text3" "text4" "text5" "text6";
    padding: 10px; }
  .grid-2col-photo-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    display: grid; }
  .grid-footer-item-1 {
    grid-column: 1/1;
    grid-row: auto;
    grid-area: text1; }
  .grid-footer-item-2 {
    grid-column: 1/2;
    grid-row: auto;
    grid-area: text2; }
  .grid-footer-item-3 {
    grid-column: 1/3;
    grid-row: auto;
    grid-area: text3; }
  .grid-footer-item-4 {
    grid-column: 1/4;
    grid-row: auto;
    grid-area: text4; }
  .grid-footer-item-5 {
    grid-column: 1/5;
    grid-row: auto;
    grid-area: text5; }
  .grid-footer-item-6 {
    grid-column: 1/6;
    grid-row: auto;
    grid-area: text6; }
  .flex-section-fixed-head {
    display: flex;
    height: 100%;
    min-height: auto;
    background-color: #6c8086; }
  .flex-layout-column {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .flex-layout-section-fixed {
    display: -webkit-flex;
    display: flex;
    height: auto; }
  .margin-left-75 {
    margin-left: 0px; }
  .margin-top-100 {
    margin-top: 50px; }
  .margin-bottom-100 {
    margin-top: 50px; }
  .margin-tb-100 {
    margin-top: 50px;
    margin-bottom: 50px; }
  .margin-top-25 {
    margin-top: 15px; }
  .thin-hr {
    display: none; }
  .header-title {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 2rem !important;
    letter-spacing: 1.1px;
    line-height: 1.4;
    text-align: center; }
  .subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'Roboto';
    color: #fff;
    font-weight: 400; }
  .callout-text-lg {
    font-size: 1.5rem;
    font-family: 'Roboto Bold', serif;
    line-height: 2.12;
    letter-spacing: 0.8px;
    text-align: center;
    color: #fff; }
  .callout-text {
    font-size: 1.25rem;
    font-family: 'Roboto Bold', serif;
    line-height: 2.12;
    letter-spacing: 0.8px;
    text-align: center;
    color: #fff; }
  .callout-text-black {
    font-size: 1.25rem;
    font-family: 'Roboto Bold', serif;
    line-height: 2.12;
    letter-spacing: 0.8px;
    text-align: center;
    color: #fff; }
  .width-70 {
    width: 95%; }
  .content-block-60 {
    width: 90%; }
  .card-case-studies {
    box-shadow: none;
    width: 100%;
    max-width: 100%; } }
