/*******************************
        resets
  *******************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*******************************
         Global
  *******************************/
body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

h1 {
  font-family: 'Mouse Momoirs', sans-serif; }

/*******************************
         Helper Classes
  *******************************/
/* margins */
.marginleft30 {
  margin-left: 30px; }

.marginleft50 {
  margin-left: 50px; }

.margintop50 {
  margin-top: 50px; }

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-top-150 {
  margin-top: 150px;
}


.flex-container100 {
  display: flex;
  flex-flow: column;
  height: 768px; }

.flex-container50 {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  width: 50%;
  height: 100%; }

/*******************************
         react-overrides
  *******************************/
.mdl-layout__drawer-button {
  color: gray !important; }

.mdl-layout__header-row .mdl-navigation__link {
  color: black !important; }

footer {
  background-color: #daa09a !important;
  color: black !important; }

.header {
  background: #fff !important; }

/*******************************
           Shared
  *******************************/
.header {
  font-size: 1.5em;
  background-color: #008000; }

.svg-image {
  height: auto;
  width: auto; }

.title {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 62px;
  margin-bottom: 15px;
  line-height: 55.5px;
  color: #fff; }

.flex-layout-row {
  display: flex;
  flex-direction: row; }

.textblock {
  padding: 20px;
  border: black 3px solid; }

.flex-layout-content-container {
  display: flex; 
  width: 850px;
}

.heading1 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin-bottom: 15px;
  color: #fff; }

.dots {
  display: flex;
  width: 100%;
  height: 768px;
  background-position: left top;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAHklEQVQoU2NkIAAYqa7gP9REuMnoVhBUgOEkyh0JAA6rAgmckIqQAAAAAElFTkSuQmCC) repeat, url(../../images/clear.png); }

.pinkdots {
  background-image: url(../../images/pinkdots.png); }

.purpledots {
  background-image: url(../../images/purpledots.png); }

.align-items-center {
  align-items: center; }

.container-justifyRow-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }

.flex-layout-right-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 75px; }

.flex-layout-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-layout-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 768px; }

.container-image-block-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%; }

.landing-grid {
  background: red; }

/*******************************
          About US
  *******************************/
.img-size {
  top: 0px;
  left: 5px;
  width: 876px;
  height: auto;
  -webkit-clip-path: polygon(0 0%, 100% 0, 50% 100%, 0% 100%);
  clip-path: polygon(0 0%, 100% 0, 50% 100%, 0% 100%); }

/*******************************
           Clients 
  *******************************/
/*******************************
           Contacts
  *******************************/
/*******************************
           Landing Page
  *******************************/
/*******************************
           Portfolio
  *******************************/
/*******************************
          Services
  *******************************/
.image-background-border-tb {
  display: flex;
  background-color: #87A6AB;
  border-top-style: outset;
  border-top-color: black;
  border-top-width: 5px;
  border-bottom-style: outset;
  border-bottom-color: black;
  border-bottom-width: 5px; }

.services-img {
  width: 1368px;
  height: 768px; }

/*

Flexbox CSS helpers from the Polymer team. Extracted from https://github.com/PolymerElements/iron-flex-layout for use as just CSS.
Docs: https://elements.polymer-project.org/guides/flex-layout

@license
Copyright (c) 2017 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt

Usage:

Horizontal layout:
<div class="layout horizontal">
  <div>One</div>
  <div>Two</div>
  <div>Three</div>
</div>

Flexible children with horizontal layout:
<div class="horizontal layout">
  <div>Alpha</div>
  <div class="flex">Beta (flex)</div>
  <div>Gamma</div>
</div>

Flexible ratios:
<div class="horizontal layout demo">
  <div class="flex-3">Alpha</div>
  <div class="flex">Beta</div>
  <div class="flex-2">Gamma</div>
</div>
*/
/*******************************
           Custom Flex
  *******************************/
.flex-layout-section-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 605px; 
}

.flex-layout-section {
  display: flex;
  flex-direction: column;
  height: 605px; 
}

.flex-layout-section-row {
  display: flex;
  flex-direction: column;
  height: 605px; 
}


.flex-layout-section-full {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }


.flex-container50 img {
  width: 200px;
  height: 235px;
  min-width: 200px;
  max-height: 235px;
  margin-right: 20px; }

.flex-layout-vertical {
  display: flex;
  flex-direction: column; 

}


.flex-layout-center-center {
    justify-content: center;
    align-items: center;
}


  /* Add these classes to respective partial files */

.flex-container-default {
  display: flex;

}
  .flex-layout-justified-end {
    display: flex;
    justify-content: flex-end; 
  }

  .flex-layout-justified-center {
    display: flex;
    justify-content: center; 
  }

  .flex-layout-justified-sb {
    display: flex;
    justify-content: space-between;
  }

  .flex-layout-row {
    display:flex;
    flex-direction: row;
  }

.flex-layout-column{
    display:flex;
    flex-direction: column;
}

.flex-layout-column-half{
    display:flex;
    flex-direction: column;
    width: 50%;
}

.width-half {
  width:50%;
}


.width-10 {
  width: 10%;
}

.width-quarter {
  width: 25%
}

.section-min-width {
  min-width: 500px;
}

.content-header {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
}


/*******************************
           Text Controls
  *******************************/

  .text-center {
    text-align: center;
  }

  ul {
    list-style: circle;
  }

  

  /*******************************
           Shapes
  *******************************/

  .square {
    height: 50px;
    width: 50px;
    background-color: #555;
  }

   /*******************************
           Spacer
  *******************************/

  .spacer-vertical-150px {
    width: 150px;
  }