@import url(/css/reset.css);
@import url(/css/App.css);
.flex-container100 {
  display: flex;
  flex-direction: column;
  height: 768px;
  min-height: 768px; }

.flex-container50 {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  width: 50%;
  height: 100%; }

.header {
  background: #fff !important; }

.svg-image {
  height: auto;
  width: auto; }

.mdl-layout__header-row .mdl-navigation__link {
  color: black !important; }

.services-img {
  width: 1368px;
  height: 768px; }

.couple-img {
  width: 876x;
  height: 595x;
  -webkit-clip-path: polygon(0 1%, 100% 0, 40% 100%, 0% 100%);
  clip-path: polygon(0 1%, 100% 0, 40% 100%, 0% 100%); }

.mdl-layout__drawer-button {
  color: gray !important; }

.content-header {
  display: flex;
  width: 100%; }

.content-text {
  display: flex;
  flex-direction: row; }

.sevices-background-section1 {
  display: flex;
  background-color: #87A6AB; }

.content-right-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 70px; }

.flex-container100 {
  display: flex;
  flex-direction: column;
  height: 768px;
  min-height: 768px; }

.flex-container50 {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  width: 50%;
  height: 100%; }

.header {
  background: #fff !important; }

.svg-image {
  height: auto;
  width: auto; }

.mdl-layout__header-row .mdl-navigation__link {
  color: black !important; }

.services-img {
  width: 1368px;
  height: 768px; }

.couple-img {
  width: 876x;
  height: 595x;
  -webkit-clip-path: polygon(0 1%, 100% 0, 40% 100%, 0% 100%);
  clip-path: polygon(0 1%, 100% 0, 40% 100%, 0% 100%); }

.mdl-layout__drawer-button {
  color: gray !important; }

.content-header {
  display: flex;
  width: 100%; }

.content-text {
  display: flex;
  flex-direction: row; }

.sevices-background-section1 {
  display: flex;
  background-color: #87A6AB; }

.content-right-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 70px; }

/*******************************
         react-overrides
  *******************************/
.mdl-layout__drawer-button {
  color: gray !important; }

.mdl-layout__header-row .mdl-navigation__link {
  color: black !important; }

footer {
  background-color: #daa09a !important;
  color: black !important; }

.header {
  background: #fff !important; }

/*******************************
         react-overrides
  *******************************/
.mdl-layout__drawer-button {
  color: gray !important; }

.mdl-layout__header-row .mdl-navigation__link {
  color: white !important; }

.mdl-layout__header-row {
  height: 100% !important; }

footer {
  background-color: #daa09a !important;
  color: black !important; }

.header {
  background: #fff !important;
  height: 76px !important; }

.lightgreen {
  background-color: #BDCCD4; }

.purple {
  background-color: #78738A; }

.lightpurple {
  background-color: #b8a9c6; }

.green {
  background-color: #87A6AB; }

.yellow-bg {
  background-color: #e3ce71; }

.blue {
  background-color: #aadfe7; }

.offwhite {
  background-color: #E3CEB6; }

.white {
  background-color: #fff; }

.red {
  background-color: #ba1004 !important; }

.pink {
  background-color: #daa09a; }

.lightgreen {
  background-color: #BDCCD4; }

.purple {
  background-color: #78738A; }

.lightpurple {
  background-color: #b8a9c6; }

.green {
  background-color: #87A6AB; }

.yellow-bg {
  background-color: #e3ce71; }

.blue {
  background-color: #aadfe7; }

.offwhite {
  background-color: #E3CEB6; }

.white {
  background-color: #fff; }

.red {
  background-color: #ba1004 !important; }

.pink {
  background-color: #daa09a; }

/*******************************
         Mixins
  *******************************/
/*******************************
         Helper Classes
  *******************************/
/* margins */
.marginleft30 {
  margin-left: 30px; }

.marginleft50 {
  margin-left: 50px; }

.margintop50 {
  margin-top: 50px; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-container100 {
  display: flex;
  flex-flow: column;
  height: 768px; }

.flex-container-50 {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  width: 50%;
  height: 100%; }

.flex-justify {
  display: flex;
  justify-content: space-between;
  width: 0px; }

.flex-items-align-top {
  align-items: flex-start; }

/*******************************
         Spacer Classes
  *******************************/
.margin-top-10 {
  margin-top: 10px; }

.margin-top-50 {
  margin-top: 25px; }

.margin-top-100 {
  margin-top: 100px; }

.margin-top-150 {
  margin-top: 150px; }

.margin-top-200 {
  margin-top: 200px; }

.margin-left-75 {
  margin-left: 75px; }

.margin-tb-100 {
  margin: 100px 0 100px; }

.padding-bottom-50 {
  padding-bottom: 50px; }

.padding-bottom-100 {
  padding-bottom: 100px; }

.padding-bottom-150 {
  padding: 150px; }

.padding {
  padding: 50px; }

.flex-align-top {
  align-items: flex-start; }

.flex-layout-section-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 605px; }

.flex-layout-section {
  display: flex;
  flex-direction: column;
  height: 725px; }

.flex-section-fixed-head {
  display: flex;
  height: 100%;
  min-height: 666px;
  background-color: #6B8086; }

.flex-layout-section-row {
  display: flex;
  flex-direction: row;
  height: 605px; }

.flex-layout-section-full {
  display: flex;
  flex-direction: column;
  height: auto; }

.flex-layout-section-fixed {
  display: flex;
  height: 668px; }

.flex-item-bottom {
  align-self: flex-end; }

.flex-container50 img {
  width: 200px;
  height: 235px;
  min-width: 200px;
  max-height: 235px;
  margin-right: 20px; }

.flex-layout-vertical {
  display: flex;
  flex-direction: column; }

.flex-layout-center-center {
  justify-content: center;
  align-items: center; }

.flex-items-justified-center {
  justify-content: center; }

.flex-layout-column-reverse {
  display: flex;
  flex-direction: column-reverse; }

.flex-sh-500 {
  flex: 0 1 624px; }

.flex-sh-400 {
  flex: 0 1 400px; }

/* Add these classes to respective partial files */
.flex-container-default {
  display: flex; }

.flex-layout-justified-end {
  display: flex;
  justify-content: flex-end; }

.flex-layout-justified-center {
  display: flex;
  justify-content: center; }

.flex-layout-justified-sb {
  display: flex;
  justify-content: space-between; }

.flex-layout-justified-sa {
  display: flex;
  justify-content: space-around; }

.flex-layout-row {
  display: flex;
  flex-direction: row; }

.flex-layout-row-reverse {
  display: flex;
  flex-direction: row-reverse; }

.flex-layout-column {
  display: flex;
  flex-direction: column; }

.flex-layout-column-half {
  display: flex;
  flex-direction: column;
  width: 50%; }

.width-half {
  width: 50%; }

.width-10 {
  width: 10%; }

.width-quarter {
  width: 25%; }

.section-min-width {
  min-width: 500px; }

.content-header {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0; }

.content-block-half {
  width: 50%; }

/*  Alighnment   */
.align-items-center {
  align-items: center; }

.container-justifyRow-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; }

.flex-layout-right-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flex-layout-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.flex-content-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 500px;
  margin-left: 70px; }

.flex-content-container-split {
  display: flex;
  flex-direction: column;
  flex: 1 1 500px; }

.flex-card-content {
  display: flex;
  padding: 0 15px 5px 15px; }

.flex-image-container {
  display: flex;
  flex-direction: flex-start;
  flex: 1 1 420px; }

.flex-image-container-child {
  display: flex;
  flex-direction: flex-start;
  flex: 1 0 auto; }

.flex-image-container-overlay {
  display: flex;
  flex-direction: flex-start;
  flex: 1 1 420px; }
  .flex-image-container-overlay > a .overlay-yellow {
    position: absolute;
    width: 128px;
    height: 128px;
    transition: background-color .3s ease-in-out;
    background-color: rgba(251, 180, 36, 0.4); }
    .flex-image-container-overlay > a .overlay-yellow:hover {
      background-color: rgba(251, 180, 36, 0);
      cursor: pointer; }

.flex-layout-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 768px; }

.container-image-block-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }

.container .button .mdl-button .mdl-js-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center; }

.container-image-block {
  display: flex;
  width: 100%; }

/*  Layers and Sizes   */
.width-100 {
  width: 100%; }

.width-50 {
  width: 50%; }

.height-70 {
  height: 70%; }

.layer-bottom {
  z-index: 1;
  position: absolute; }

.layer-top {
  display: flex;
  z-index: 10;
  position: absolute;
  flex-direction: row;
  align-items: center; }

.width-70 {
  width: 70%; }

.floatleft {
  float: left; }

.image-background-border-tb {
  display: flex;
  flex: 1 1 100%;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000; }

.servicespic {
  max-height: 500px;
  margin-right: 20px; }

.services-img {
  width: 1368px;
  height: 768px; }

.marginleft30 {
  margin-left: 30px; }

.marginleft50 {
  margin-left: 50px; }

.marginleft50 {
  margin-left: 50px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-bottom-50 {
  margin-bottom: 50px; }

.margin-bottom-100 {
  margin-bottom: 100px; }

.margin-top-25 {
  margin-top: 25px; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-50 {
  margin-top: 50px; }

.margin-top-100 {
  margin-top: 100px; }

.margin-top-150 {
  margin-top: 150px; }

.margin-top-200 {
  margin-top: 200px; }

.padding-bottom-50 {
  padding-bottom: 50px; }

.padding {
  padding: 50px; }

.content-text-18 {
  font-family: Roboto;
  font-size: 1.2rem; }

.content-text-24 {
  font-family: 'Poppin', 'Roboto';
  font-size: 1.6rem;
  line-height: 1.5; }

.text-white {
  color: #fff; }

a {
  color: #ba1004; }

li {
  display: list-item;
  text-align: -webkit-match-parent;
  white-space: nowrap; }

.card-case-studies {
  -webkit-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.25);
  width: 634px;
  max-width: 643px;
  max-height: 600px; }

.lightgreen {
  background-color: #BDCCD4; }

.purple {
  background-color: #78738A; }

.lightpurple {
  background-color: #b8a9c6; }

.green {
  background-color: #87A6AB; }

.yellow-bg {
  background-color: #e3ce71; }

.blue {
  background-color: #aadfe7; }

.offwhite {
  background-color: #E3CEB6; }

.white {
  background-color: #fff; }

.red {
  background-color: #ba1004 !important; }

.pink {
  background-color: #daa09a; }

/*******************************
         Global
  *******************************/
body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "poppins" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*******************************
         Global Text
  *******************************/
h1 {
  font-family: 'Mouse Momoirs', sans-serif; }

.image-text-left {
  float: left;
  position: absolute;
  margin-left: 10px; }

.image-text-right {
  float: right;
  position: absolute;
  right: 1%;
  top: 1%; }

a {
  color: #ba1004; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

h1 {
  font-family: 'Mouse Momoirs', sans-serif; }

.subtitle {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.8; }

.subtitle-capital {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.8;
  text-transform: capitalize; }

.subtitle-reverse {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.8;
  color: #fff; }

.title-small {
  font-size: 1.2rem;
  font-weight: 700;
  color: #3eaca9;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  margin-bottom: 16px;
  font-family: Roboto; }

.text-align-center {
  text-align: center; }

.text-black {
  color: #000; }

.text-bold {
  font-weight: bold; }

.text-white {
  color: #fff; }

.text-align-center {
  text-align: center; }

.thin-hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #6a6a6a;
  padding: 0px; }

.container-card-content {
  height: auto;
  margin: -10px 10px 5px 10px; }

/*******************************
        Global Colors
  *******************************/
.green-blue {
  background-color: #3eaca9; }

.red {
  color: #ba1004; }

.grey {
  background-color: #6B8086; }

.grey-blue {
  background-color: #a6bbc0b3; }

/*******************************
       Global Images
  *******************************/
.image-size-10 {
  height: 10%;
  width: 10%; }

.image-size-30 {
  height: 30%;
  width: 30%; }

.image-size-50 {
  height: 50%;
  width: 50%; }

.image-size-100 {
  height: 100%;
  width: 100%; }

.image-size-header-fixed {
  height: 1920px;
  width: 100%; }

.lightgreen {
  background-color: #BDCCD4; }

.purple {
  background-color: #78738A; }

.lightpurple {
  background-color: #b8a9c6; }

.green {
  background-color: #87A6AB; }

.yellow-bg {
  background-color: #e3ce71; }

.blue {
  background-color: #aadfe7; }

.offwhite {
  background-color: #E3CEB6; }

.white {
  background-color: #fff; }

.red {
  background-color: #ba1004 !important; }

.pink {
  background-color: #daa09a; }

/*******************************
           Shared
  *******************************/
.header {
  font-size: 1.5em;
  background-color: #008000; }

a:hover {
  text-decoration: none; }

.svg-image {
  height: auto;
  width: auto; }

.link-color {
  color: #ba1004; }

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 6rem; }

.title-center {
  font-family: 'Poppins', sans-serif;
  font-size: 10.0rem;
  margin-bottom: 15px;
  line-height: 55.5px;
  text-align: center; }

.white {
  color: fff; }

.flex-layout-row {
  display: flex;
  flex-direction: row; }

.flex-layout-row-reverse {
  display: flex;
  flex-direction: row-reverse; }

.textblock {
  padding: 50px; }

.border-3px {
  border-color: black;
  border-width: 3px;
  border: solid; }

.bottom-border {
  border-bottom-style: outset;
  border-bottom-color: black;
  border-bottom-width: 5px; }

.flex-layout-content-container {
  display: flex;
  width: 850px; }

.flex-container-button {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 40px; }

.heading1 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin-bottom: 15px; }

Button {
  padding: 10px;
  border: #000 solid 3px .01;
  white-space: nowrap;
  margin: 5px;
  font-weight: 800;
  font-size: 1.2em;
  background-color: transparent;
  display: inline-block;
  text-align: center; }

.button {
  border: #000 solid 3px;
  white-space: nowrap;
  margin: 5px;
  font-weight: 800;
  font-size: 1.2em;
  background-color: grey;
  display: inline-block;
  text-align: center; }

.mdl-button {
  background: #000;
  opacity: 0.4 !important;
  border: 1px solid rgba(170, 50, 220, 0.6) !important;
  border-radius: 2px;
  color: black;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle; }

Button:hover {
  background-color: rgba(227, 206, 184, 0.5); }

/*  Alighnment   */
.align-items-center {
  align-items: center; }

.container-justifyRow-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; }

.flex-layout-right-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flex-layout-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.flex-layout-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 768px; }

.container-image-block-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }

.container-image-block {
  display: flex;
  width: 100%; }

/*  Layers and Sizes   */
.width-100 {
  width: 100%; }

.width-50 {
  width: 50%; }

.height-70 {
  height: 70%; }

.layer-bottom {
  z-index: 1;
  position: absolute; }

.layer-top {
  display: flex;
  z-index: 10;
  position: absolute;
  flex-direction: row;
  align-items: center; }

.width-70 {
  width: 70%; }

.floatleft {
  float: left; }

/*******************************
          Grid
  *******************************/
.container-grid {
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  min-width: 1920px; }

.container-grid-cs {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 2px;
  display: grid; }

.item-a {
  grid-column: 1 / 2;
  grid-row: 1 / auto;
  align-items: center; }

.item-b {
  grid-column: 2 / 3;
  grid-row: 1 / auto;
  padding: 10px;
  justify-content: center; }

.item-c {
  grid-column: 1 / 2;
  grid-row: 2 / auto;
  align-items: center;
  border-top: 2px solid #dfdfdf; }

.item-d {
  grid-column: 2 / 3;
  grid-row: 2 / auto;
  padding: 10px;
  justify-content: center; }

.item-e {
  grid-column: 1 / 2;
  grid-row: auto;
  align-items: center;
  border-top: 2px solid #dfdfdf; }

.item-f {
  grid-column: 2 / 3;
  grid-row: auto;
  padding: 10px;
  justify-content: center; }

.lightgreen {
  background-color: #BDCCD4; }

.purple {
  background-color: #78738A; }

.lightpurple {
  background-color: #b8a9c6; }

.green {
  background-color: #87A6AB; }

.yellow-bg {
  background-color: #e3ce71; }

.blue {
  background-color: #aadfe7; }

.offwhite {
  background-color: #E3CEB6; }

.white {
  background-color: #fff; }

.red {
  background-color: #ba1004 !important; }

.pink {
  background-color: #daa09a; }

/*******************************
         Mixins
  *******************************/
.lightgreen {
  background-color: #BDCCD4; }

.purple {
  background-color: #78738A; }

.lightpurple {
  background-color: #b8a9c6; }

.green {
  background-color: #87A6AB; }

.yellow-bg {
  background-color: #e3ce71; }

.blue {
  background-color: #aadfe7; }

.offwhite {
  background-color: #E3CEB6; }

.white {
  background-color: #fff; }

.red {
  background-color: #ba1004 !important; }

.pink {
  background-color: #daa09a; }

/*******************************
           Why 
  *******************************/
.text {
  color: black; }

.flex-container-small {
  display: flex;
  height: 500px; }

.flex-container-text-small {
  width: 250px;
  padding: 40px; }

.flex-container-services {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center; }

.why-top-image {
  background-image: url(/wds_website/src/images/crowdgirls.svg), url(/wds_website/src/images/spotlight.svg);
  background-position: center bottom, left top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }

.image-container-content {
  left: -42.0484px;
  top: 0px;
  width: 544.097px;
  height: 306px; }

.flex-item:nth-child(1) {
  order: 0;
  flex: 0 2 auto;
  align-self: auto; }

.flex-item:nth-child(2) {
  order: 0;
  flex: 0 2 auto;
  align-self: auto; }

.flex-item:nth-child(3) {
  order: 0;
  flex: 0 2 auto;
  align-self: auto; }

.flex-item:nth-child(4) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto; }

.flex-sh-400 {
  flex: 0 1 400px; }

.content-block-why {
  width: 350px; }

.content-block-full {
  width: 100%;
  height: auto;
  flex-wrap: nowrap; }

.content-block-cs {
  width: 575px; }

.image_customer_first {
  background: linear-gradient(rgba(0, 244, 183, 0.45), rgba(0, 244, 232, 0.45)); }

/*******************************
           Case Studies
  *******************************/
.image-overlay-container {
  text-align: center;
  position: relative; }
  .image-overlay-container > a .overlay-yellow {
    position: absolute;
    width: 128px;
    height: 128px;
    transition: background-color .3s ease-in-out;
    background-color: rgba(251, 180, 36, 0.4); }
    .image-overlay-container > a .overlay-yellow:hover {
      background-color: rgba(251, 180, 36, 0);
      cursor: pointer; }

.content-block-75 {
  width: 75%; }

.content-block-60 {
  width: 60%; }

.title-case {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: #354346b3;
  font-weight: bold; }

.subtitle-case {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem; }

/*******************************
           Practices
  *******************************/
.flex-items-column-450 {
  display: flex;
  flex-direction: column;
  flex: 0 0 450px; }

.flex-items-column-500 {
  display: flex;
  flex-direction: column;
  flex: 0 0 500px; }

.photo-container {
  width: 650px;
  height: 433px; }

.content-block-services {
  width: 80%;
  margin-right: 20px; }

.content-block-services-reverse {
  width: 80%;
  margin-left: 20px; }

/*******************************
          Services
  *******************************/
.sevices-background-section1 {
  display: flex;
  background-color: #AFD5DB;
  border-top-style: outset;
  border-top-color: black;
  border-top-width: 5px;
  border-bottom-style: outset;
  border-bottom-color: black;
  border-bottom-width: 5px; }

.servicespic {
  max-height: 500px;
  margin-right: 20px; }

.services-img {
  width: 1368px;
  height: 768px; }

/*******************************
           Portfolio
  *******************************/
/*******************************
           Landing Page
  *******************************/
/*******************************
           Portfolio
  *******************************/
.lightgreen {
  background-color: #BDCCD4; }

.purple {
  background-color: #78738A; }

.lightpurple {
  background-color: #b8a9c6; }

.green {
  background-color: #87A6AB; }

.yellow-bg {
  background-color: #e3ce71; }

.blue {
  background-color: #aadfe7; }

.offwhite {
  background-color: #E3CEB6; }

.white {
  background-color: #fff; }

.red {
  background-color: #ba1004 !important; }

.pink {
  background-color: #daa09a; }

/*******************************
          About US
  *******************************/
.aboutus-background-section1 {
  display: flex;
  background-color: #F4D195;
  border-top-style: outset;
  border-top-color: black;
  border-top-width: 5px;
  border-bottom-style: outset;
  border-bottom-color: black;
  border-bottom-width: 5px; }

.couple-img {
  top: 0px;
  left: 5px;
  width: 876x;
  height: 595x; }

.aboutuspic {
  width: 200px;
  height: 235px;
  min-width: 200px;
  max-height: 235px; }

.lightgreen {
  background-color: #BDCCD4; }

.purple {
  background-color: #78738A; }

.lightpurple {
  background-color: #b8a9c6; }

.green {
  background-color: #87A6AB; }

.yellow-bg {
  background-color: #e3ce71; }

.blue {
  background-color: #aadfe7; }

.offwhite {
  background-color: #E3CEB6; }

.white {
  background-color: #fff; }

.red {
  background-color: #ba1004 !important; }

.pink {
  background-color: #daa09a; }

/*******************************
         Mixins
  *******************************/
